<div style="margin-left: auto; margin-right: auto">
    <p id="postFeedback"></p>
</div>

<div class="container-form" [@fadeInOut] >  
    <h2>Add residue</h2>
    <form
      *ngIf="residueForm"
      [formGroup]="residueForm"
      (ngSubmit)="saveResidue()">
  
      <mat-card [class.mat-elevation-z8]="isElevated">

        <section>
            <mat-form-field [style.width.px]=327>
              <mat-label>Denominación</mat-label>
              <input matInput type="text" [formControl]="nameES" />
              <mat-error *ngIf="nameES.hasError('required')">Denominación <strong>is required</strong></mat-error>
              <mat-error *ngIf="nameES.hasError('minlength')">Denominación must be greater than 3 characters</mat-error>
              <mat-error *ngIf="nameES.hasError('maxlength')">Denominación must be less than 25 characters</mat-error>
            </mat-form-field>
        </section>
  
        <section>
            <mat-form-field [style.width.px]=327>
                <mat-label>Denominació</mat-label>
                <input matInput type="text" [formControl]="nameCA" />
                <mat-error *ngIf="nameCA.hasError('required')">Denominació <strong>is required</strong></mat-error>
                <mat-error *ngIf="nameCA.hasError('minlength')">Denominació must be greater than 3 characters</mat-error>
                <mat-error *ngIf="nameCA.hasError('maxlength')">Denominació must be less than 25 characters</mat-error>
              </mat-form-field>
        </section>

        <button mat-raised-button color="primary" type="submit" [disabled]="!residueForm.valid">ADD</button>  
      </mat-card>
    </form>
  </div>
