
    <h1>Identificación de requisitos legales idi: CUESTIONARIO PRELIMINAR</h1>
    <ol>
<!--     <div *ngFor="let question of questionList">
        <li><h4>{{question.questionTextES}}:<button mat-flat-button (click)="openDialog('300ms', '300ms', question.questionTextES, question.questionTooltipES, question.questionDoc)"><i class="fa-solid fa-circle-info" style="color: #1f5618;"></i></button></h4>
            <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
            <ng-container [ngSwitch]="question.type">

                <ng-container *ngSwitchCase="'radio'">
                    <mat-radio-group aria-label="Select an option">
                        <ng-container  *ngFor="let item of question.answers">
                            <mat-radio-button 
                                value="{{item['answerText']}}">
                                {{item['answerText']}}
                            </mat-radio-button>
                            <button *ngIf="item['answerTooltip']" mat-button (click)="openDialog('300ms', '300ms', item['answerTooltip'], item['answerImage_1'], item['answerImage_2'])"><i class="fa-solid fa-circle-info" ></i></button>
                        </ng-container>
                    </mat-radio-group>
                </ng-container> 

                <ng-container *ngSwitchCase="'checkbox'">
                    <section class="example-section" [formGroup]="">
                        <ng-container *ngFor="let item of question.answers">
                            <p>
                                <mat-checkbox value="{{item['answerText']}}">{{item['answerText']}}</mat-checkbox>
                                <button *ngIf="item['answerTooltip']" mat-button (click)="openDialog('300ms', '300ms', item['answerTooltip'], item['answerImage_1'], item['answerImage_2'])"><i class="fa-solid fa-circle-info" ></i></button>
                            </p>
                        </ng-container>
                    </section>
                </ng-container>
            </ng-container>
        </li>  
    </div> -->
    </ol>

    <mat-accordion *ngFor="let question of questionList">
{{initialVector}}

        <mat-expansion-panel hideToggle>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    VECTOR {{question.vector}}
                </mat-panel-title>
            </mat-expansion-panel-header>
            <li>
                <h4>{{question.questionTextES}}:<button mat-flat-button (click)="openDialog('300ms', '300ms', question.questionTextES, question.questionTooltipES, question.questionDoc)"><i class="fa-solid fa-circle-info" style="color: #1f5618;"></i></button></h4>
                <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
                <ng-container [ngSwitch]="question.type">
                    <ng-container *ngSwitchCase="'radio'">
                    <mat-radio-group aria-label="Select an option">
                        <ng-container  *ngFor="let item of question.answers">
                            <mat-radio-button 
                                value="{{item['answerText']}}">
                                {{item['answerText']}}
                            </mat-radio-button>
                            <button *ngIf="item['answerTooltip']" mat-button (click)="openDialog('300ms', '300ms', item['answerTooltip'], item['answerImage_1'], item['answerImage_2'])"><i class="fa-solid fa-circle-info" ></i></button>
                        </ng-container>
                    </mat-radio-group>
                    </ng-container> 
                    <ng-container *ngSwitchCase="'checkbox'">
                    <section class="example-section" [formGroup]="">
                        <ng-container *ngFor="let item of question.answers">
                            <p>
                                <mat-checkbox value="{{item['answerText']}}">{{item['answerText']}}</mat-checkbox>
                                <button *ngIf="item['answerTooltip']" mat-button (click)="openDialog('300ms', '300ms', item['answerTooltip'], item['answerImage_1'], item['answerImage_2'])"><i class="fa-solid fa-circle-info" ></i></button>
                            </p>
                        </ng-container>
                    </section>
                    </ng-container>
                </ng-container>
            </li>  
        </mat-expansion-panel>
       
    </mat-accordion>
      