<div class="form-container">
    <h1>global-regulation-questionnaire!</h1>

    <ol>
    <div *ngFor="let question of questionList">

       <li><h4 matTooltip="{{question.questionTooltipES}}"
            matTooltipClass="example-tooltip-uppercase">{{question.questionTextES}}:</h4>
            <ng-container [ngSwitch]="question.type">
                
                <ng-container *ngSwitchCase="'radio'">
                    <mat-radio-group aria-label="Select an option">
                        <ng-container  *ngFor="let item of question.answers">
                          <mat-radio-button 
                          matTooltip="{{item['answerTooltip']}}"
                          [matTooltipPosition]="position" 
                            value="{{item['answerText']}}">
                                {{item['answerText']}}
                            </mat-radio-button>
                        
                          <ng-template #tooltipTpl>
                            <div>This is a template!</div>
                            <div>Ceci est un modèle!</div>
                            <div>{{item['answerTooltip']}}</div>
                            <div>{{item['answerImage_1']}}</div>
                            <div class="text-right">{{item['answerImage_2']}}</div>
                          </ng-template>
                        
                        
                        </ng-container>
                    </mat-radio-group>
                </ng-container> 

             
                <ng-container *ngSwitchCase="'checkbox'">
                    <section class="example-section" [formGroup]="">
                        <ng-container *ngFor="let item of question.answers">
                            <p><mat-checkbox matTooltip="{{item['answerTooltip']}}{{item['answerImage_1']}}{{item['answerImage_2']}}" value="{{item['answerText']}}">{{item['answerText']}}</mat-checkbox></p>
                        </ng-container>
                    </section>
                </ng-container>
            </ng-container>
        </li>  
    </div>
    </ol>
</div>
