@use "../../../styles/themes/ils-theme" as theme;

h1{
text-align: center;
}
.container-form{
  margin-top: 2rem;
  margin-left: 14rem;
  margin-right: 14rem;
}

.questions-container{
  display: grid;
  grid-template-columns: auto auto;
  gap: 1rem
}

.vector-div{
  border-radius: .5rem;
  font-size: .5rem;
  letter-spacing: .1rem;
  word-break: break-all;
  padding: .5rem;
  color: rgb(10, 10, 10);
  background-color: rgb(177, 177, 177);
  margin-bottom: .5rem;
}

#progress-panel{
  font-size: .5rem;
  letter-spacing: .1rem;
  border-radius: .5rem;
  padding: .5rem;
  color: rgb(10, 10, 10);
  background-color: rgb(89, 197, 17);
}

.no-display {
  display: none;
}

mat-accordion {
  margin-top: .3rem;
}

.button-row {
  text-align: right;
  padding: 1rem;
}

.text-content {
  display: grid;
  grid-template-columns: auto auto;
  border: 1px black solid;
  padding: .3rem;
  font-size: .6rem;
  line-height: .6rem;
  max-height: 40px;
}

img{
  width: 150px;
  height: auto;
}

mat-expansion-panel {
  margin-bottom: 1rem;
}

mat-panel-title{
  display: grid;
  grid-template-rows: 100%;
  font-size: .6rem;
  color: #fff;
}

mat-progress-bar{
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 30%;
}

.progress-bar-loader{
  min-width: 100%;
}

.warn-title{
  color: antiquewhite;
  background-color: black;
}

.accordion {
  display: block;
  max-width: 800px;
}

.accordion-item {
  display: block;
  border: solid 1px rgb(150, 147, 147);
}

.accordion-item + .accordion-item {
  border-top: none;
}

.accordion-item-header {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

.accordion-item-description {
  font-size: 0.85em;
  color: #202cd6;
}

.accordion-item-header,
.accordion-item-body {
  padding: 10px;
}

.accordion-item-header:hover {
  cursor: pointer;
  background-color: rgb(143, 221, 78);
}

.accordion-item:first-child {
  border-radius: 4px 4px 0 0;
}
.accordion-item:last-child  {
  border-radius: 0 0 4px 4px;
}

@media (max-width: theme.$app-break-point) {
  .container-form {
    margin-left: 0;
    margin-right: 0;
  }
  .questions-container{
    grid-template-columns: 99%;
  }
}


