
.loader {
  width: 100%;
  text-align: center;
}
.text-content {
  display: grid;
  grid-template-columns: auto auto;
  border: 1px black solid;
  padding: .3rem;
  font-size: .6rem;
  line-height: .6rem;
  max-height: 40px;
}

img{
  width: 150px;
  height: auto;
}

mat-expansion-panel{
  padding-top: .2rem;
  padding-bottom: .2rem;
  margin-bottom: 1rem;
}

mat-panel-title{
  display: grid;
  grid-template-rows: 100%;
  font-size: .6rem;
}

mat-progress-bar{
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 30%;
}


