<h2>Residue list:</h2>
<div class="mat-elevation-z8">
  <mat-table *ngIf="!isGridView" [dataSource]="residues" class="mat-elevation-z8">
    <ng-container matColumnDef="nameES">
      <mat-header-cell class="a" *matHeaderCellDef>Denominación</mat-header-cell>
      <mat-cell *matCellDef="let residue">{{residue.nameES}}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="nameCA">
      <mat-header-cell class="b" *matHeaderCellDef>Denominació</mat-header-cell>
      <mat-cell *matCellDef="let residue">{{residue.nameCA}}</mat-cell>
    </ng-container>
  
    <ng-container matColumnDef="ACTIONS">
      <mat-header-cell class="c" *matHeaderCellDef> ACTIONS 
        <button mat-mini-fab color="primary" matTooltip="Add an residue" aria-label="Add residue" (click)="createResidue()">
          <mat-icon>add</mat-icon>
        </button>
      </mat-header-cell>
      <mat-cell *matCellDef="let residue">
        <button mat-icon-button color="warn" matTooltip="Permanently delete this residue"
        aria-label="Button that displays a tooltip and permanently deletes this residue" (click)="deleteResidue(residue.residueId)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
  
    <mat-header-row *matHeaderRowDef="columnsDisplayed"></mat-header-row>
    <mat-row *matRowDef="let item; columns: columnsDisplayed;" class="animate__animated animate__fadeInLeft"></mat-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>  
  <div class="loader" *ngIf="!residues">No records found yet...</div>
