

/* @media only screen and (max-width: base.$app-break-point) {
    
    .denominacion::before, .denominacio::before {
        font-weight: bolder;
        padding-right: .5rem;
    }

    .denominacion::before {
        content: "Denominación:";
    } 

    .denominacio::before {
        content: "Denominació:";   
    }

} */