<table *ngIf="!isGridView" mat-table [dataSource]="residues" class="mat-elevation-z8">
    <ng-container matColumnDef="nameES">
      <th mat-header-cell *matHeaderCellDef>Denominación</th>
      <td mat-cell *matCellDef="let residue">{{residue.nameES}}</td>
    </ng-container>
  
    <ng-container matColumnDef="nameCA">
      <th mat-header-cell *matHeaderCellDef>Denominació</th>
      <td mat-cell *matCellDef="let residue">{{residue.nameCA}}</td>
    </ng-container>
  
  
    <ng-container matColumnDef="ACTIONS">
      <th mat-header-cell *matHeaderCellDef> ACTIONS <button mat-mini-fab color="primary" matTooltip="Add an residue" aria-label="Add residue" (click)="createResidue()">
        <mat-icon>add</mat-icon>
      </button></th>
      <td mat-cell *matCellDef="let residue">
        <button mat-icon-button color="accent" matTooltip="Update this residue"
        aria-label="Button that displays a tooltip and updates this residue" (click)="updateResidue(residue.residueId)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" matTooltip="Permanently delete this residue"
        aria-label="Button that displays a tooltip and permanently deletes this residue" (click)="deleteResidue(residue.residueId)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="columnsDisplayed"></tr>
    <tr mat-row *matRowDef="let item; columns: columnsDisplayed;" class="animate__animated animate__fadeInLeft"></tr>
  </table>
  
  <div class="loader" *ngIf="!residues">No records found yet...</div>
