<section ngClass="container-form" >
<h1>{{'listUsers' | translate}}</h1>

<mat-form-field appearance="outline" style="width: 300px; margin-bottom: 16px; display: block; margin-left: auto; margin-right: auto;">
  <mat-label>Filtrar usuarios</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Buscar...">
</mat-form-field>

  <mat-progress-bar mode="indeterminate" color="primary" *ngIf="isLoading"></mat-progress-bar>
  <mat-paginator [pageSizeOptions]="[20, 40, 80]" showFirstLastButtons></mat-paginator>

  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <span>{{ col.label }}</span>
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
          <div class="btn-edit" *ngSwitchCase="'isEdit'">
            <button mat-icon-button (click)="element.isEdit = !element.isEdit" disabled
                    class="material-icons app-toolbar-menu save-button"
                    matTooltip="Edit" color="accent">
              <mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button class="material-icons app-toolbar-menu delete-button" disabled
                    (click)="removeRow(element.consumptionId)"
                    matTooltip="Delete" color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <span *ngSwitchCase="'number'" class="small-data">{{ element[col.key] | number: '1.3-3' }}</span>
          <span *ngSwitchCase="'date'" class="small-data">{{ element[col.key] }}</span>
          <span *ngSwitchDefault class="small-data">{{ element[col.key] }}</span>
        </div>

        <div [ngSwitch]="col.type" *ngIf="element.isEdit">
          <div class="btn-edit" *ngSwitchCase="'isEdit'">
            <button mat-button (click)="editRow(element)" [disabled]="valid[element.Id] === false">Done</button>
          </div>
          <span *ngSwitchCase="'isSelected'" class="small-data">{{element[col.key]}}</span>
          <span *ngSwitchCase="'text'" class="small-data">{{element[col.key]}}</span>
          <input *ngSwitchCase="'number'" [type]="col.type" [(ngModel)]="element[col.key]" class="small-data-input" [style.width.px]='50'/>
        </div>
      </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="columnsDisplayed"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnsDisplayed;"></mat-row>
  </table>
</section>