mat-header-row{
  background-color: #424242;
}

mat-header-cell {
  color: white;
  font-size: .6rem;
}

mat-cell{
  background-color: #919191;
}

.mat-column-name{
  word-wrap:break-word;
}

.mat-column-isSelected{
  padding-right: 2rem;
}

.mat-column-isEdit{
  padding-right: 2rem;
}