<mat-card>
  <h2>{{ 'forgotPassword' | translate }}</h2>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ 'email' | translate }}</mat-label>
      <input matInput formControlName="email" type="email" required />
      <mat-error *ngIf="form.get('email')?.hasError('required')">
        {{ 'emailRequired' | translate }}
      </mat-error>
      <mat-error *ngIf="form.get('email')?.hasError('email')">
        Formato de correo inválido
      </mat-error>
    </mat-form-field>

<button mat-raised-button color="primary" type="submit" [disabled]="form.invalid || loading">
  {{ loading ? ('sending' | translate) : ('sendRecoveryLink' | translate) }}
</button>

  </form>
</mat-card>