<div class="container-form">
      <h1>Residue consumption</h1>
      <form
        *ngIf="residueForm"
        [formGroup]="residueForm"
        (ngSubmit)="saveResidueForm()">

        <mat-card [class.mat-elevation-z8]="isElevated">
        <section >
          <mat-form-field [style.width.px]=360>
            <mat-label>{{'delegation' | translate}}</mat-label>
            <mat-select [formControl]="delegation">
              <mat-option *ngFor="let delegation of delegations" [value]="delegation.companyDelegationId">
                {{delegation.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="delegation.hasError('required')">{{'delegation' | translate}} <strong>is required</strong></mat-error>
          </mat-form-field>
        </section>
        <section>
          <mat-form-field [style.width.px]=360>
            <mat-label>Month and Year</mat-label>
            <input matInput [matDatepicker]="dp" [formControl]="fromDateResidue">
            <mat-hint>MM/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle>
            <mat-datepicker #dp
                            startView="multi-year"
                            (monthSelected)="setMonthAndYear($event, dp)"
                            panelClass="example-month-picker">
            </mat-datepicker>
          </mat-form-field>
        </section>
        
          <section>            
            <mat-form-field [style.width.px]=360>
              <mat-label>Residue type</mat-label>
              <mat-select [formControl]="residue">
                <mat-option *ngFor="let residue of residues" [value]="residue.residueId">
                  {{residue.nameES}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="residue.hasError('required')">Residue <strong>is required</strong></mat-error>
            </mat-form-field>
          </section>
          <section>
            <mat-form-field [style.width.px]=360>
              <mat-label>Quantity (Kg)</mat-label>
              <input matInput type="number" [formControl]="quantityResidue" />
              <mat-error *ngIf="quantityResidue.hasError('required')">quantityResidue <strong>is required</strong></mat-error>
            </mat-form-field> 
          </section>
          <section>
            <mat-label>Residue destination (%):</mat-label>
          </section>
          <section >
            <mat-form-field [style.width.px]=70>
              <mat-label>Reuse</mat-label>
              <input matInput type="number" [formControl]="reuse" />
              <mat-error *ngIf="reuse.hasError('required')">reuse <strong>is required</strong></mat-error>
            </mat-form-field>

            <mat-form-field [style.width.px]=70>
              <mat-label>Recycling</mat-label>
              <input matInput type="number" [formControl]="recycling" />
              <mat-error *ngIf="recycling.hasError('required')">recycling <strong>is required</strong></mat-error>
            </mat-form-field>

            <mat-form-field [style.width.px]=70>
              <mat-label>Incineration</mat-label>
              <input matInput type="number" [formControl]="incineration" />
              <mat-error *ngIf="incineration.hasError('required')">incineration <strong>is required</strong></mat-error>
            </mat-form-field>

            <mat-form-field [style.width.px]=70>
              <mat-label>Dump</mat-label>
              <input matInput type="number" [formControl]="dump" />
              <mat-error *ngIf="dump.hasError('required')">dump <strong>is required</strong></mat-error>
            </mat-form-field>

            <mat-form-field [style.width.px]=70>
              <mat-label>Compost</mat-label>
              <input matInput type="number" [formControl]="compost" />
              <mat-error *ngIf="compost.hasError('required')">compost <strong>is required</strong></mat-error>
            </mat-form-field>
          </section>
          <button mat-raised-button color="primary" type="submit" [disabled]="!residueForm.valid">ADD</button>
        </mat-card>

      </form>
</div>

<h2>{{'consumptionList' | translate}}</h2>
<table *ngIf="!isGridView" mat-table [dataSource]="consumptions" class="mat-elevation-z8">

  <ng-container matColumnDef="delegation">
    <th mat-header-cell *matHeaderCellDef>{{'delegation' | translate}}</th>
    <td mat-cell *matCellDef="let consumption">{{consumption.delegation}}</td>
  </ng-container>
  <ng-container matColumnDef="residue">
    <th mat-header-cell *matHeaderCellDef>{{'residueType' | translate}}</th>
    <td mat-cell *matCellDef="let consumption">{{consumption.residueES}}</td>
  </ng-container>
  <ng-container matColumnDef="year">
    <th mat-header-cell *matHeaderCellDef>Year</th>
    <td mat-cell *matCellDef="let consumption">{{consumption.year}}</td>
  </ng-container>
  <ng-container matColumnDef="enero">
    <th mat-header-cell *matHeaderCellDef>Enero</th>
    <td mat-cell *matCellDef="let consumption" matTooltip={{consumption.quantity}}>{{ consumption.quantity }}</td>
  </ng-container>
  <ng-container matColumnDef="febrero">
    <th mat-header-cell *matHeaderCellDef>Febrero</th>
    <td mat-cell *matCellDef="let consumption" matTooltip={{consumption.quantity}}>{{consumption.quantity }}</td>
  </ng-container>
  <ng-container matColumnDef="marzo">
    <th mat-header-cell *matHeaderCellDef>Marzo</th>
    <td mat-cell *matCellDef="let consumption" matTooltip={{consumption.quantity}}>{{ consumption.quantity }}</td>
  </ng-container>
  <ng-container matColumnDef="abril">
    <th mat-header-cell *matHeaderCellDef>Abril</th>
    <td mat-cell *matCellDef="let consumption" matTooltip={{consumption.quantity}}>{{consumption.quantity }}</td>
  </ng-container>
  <ng-container matColumnDef="mayo">
    <th mat-header-cell *matHeaderCellDef>Mayo</th>
    <td mat-cell *matCellDef="let consumption" matTooltip={{consumption.quantity}}>{{ consumption.quantity }}</td>
  </ng-container>
  <ng-container matColumnDef="junio">
    <th mat-header-cell *matHeaderCellDef>Junio</th>
    <td mat-cell *matCellDef="let consumption" matTooltip={{consumption.quantity}}>{{consumption.quantity }}</td>
  </ng-container>
  <ng-container matColumnDef="julio">
    <th mat-header-cell *matHeaderCellDef>Julio</th>
    <td mat-cell *matCellDef="let consumption" matTooltip={{consumption.quantity}}>{{ consumption.quantity }}</td>
  </ng-container>
  <ng-container matColumnDef="agosto">
    <th mat-header-cell *matHeaderCellDef>Agosto</th>
    <td mat-cell *matCellDef="let consumption" matTooltip={{consumption.quantity}}>{{consumption.quantity }}</td>
  </ng-container>
  <ng-container matColumnDef="setiembre">
    <th mat-header-cell *matHeaderCellDef>Setiembre</th>
    <td mat-cell *matCellDef="let consumption" matTooltip={{consumption.quantity}}>{{ consumption.quantity }}</td>
  </ng-container>
  <ng-container matColumnDef="octubre">
    <th mat-header-cell *matHeaderCellDef>Octubre</th>
    <td mat-cell *matCellDef="let consumption" matTooltip={{consumption.quantity}}>{{consumption.quantity }}</td>
  </ng-container>
  <ng-container matColumnDef="noviembre">
    <th mat-header-cell *matHeaderCellDef>Noviembre</th>
    <td mat-cell *matCellDef="let consumption" matTooltip={{consumption.quantity}}>{{ consumption.quantity }}</td>
  </ng-container>
  <ng-container matColumnDef="diciembre">
    <th mat-header-cell *matHeaderCellDef>Diciembre</th>
    <td mat-cell *matCellDef="let consumption" matTooltip={{consumption.quantity}}>{{consumption.quantity }}</td>
  </ng-container>

  <ng-container matColumnDef="ACTIONS">
    <th mat-header-cell *matHeaderCellDef> ACTIONS</th>
    <td mat-cell *matCellDef="let consumption">
      <button mat-icon-button color="accent" matTooltip="View detail of this indicator"
      aria-label="Button that displays a tooltip and shows this indicator" (click)="saveResidueForm()">
        <mat-icon>Detail</mat-icon>
      </button>
      <button mat-icon-button color="warn" matTooltip="Permanently delete this indicator"
      aria-label="Button that displays a tooltip and permanently deletes this indicator" (click)="deleteResidue(consumption.consumptionId)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsDisplayed"></tr>
  <tr mat-row *matRowDef="let item; columns: columnsDisplayed;" class="animate__animated animate__fadeInLeft"></tr>
</table>

<div class="loader" *ngIf="!consumptions">No records found yet...</div>
