@use "../../../../styles/typography/config" as config;

.error {
  color: red;
}

#postFeedback {
  visibility: hidden;
  min-width: 250px;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 16px;
  z-index: 1;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
}

#postFeedback.requestOk {
  background-color: green;
}

#postFeedback.requestKo {
  background-color: red;
}

#postFeedback.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}
.button-add-row {
    background: #1b9e1b;
    color: #ffffff;
  }

.button-add-row {
    background: #1b9e1b;
    color: #ffffff;
  }

.button-remove-rows {
    background: config.$remove-selected-rows-back-color;
    color: config.$font-color;
    margin-right: 5px;
  }

.button-remove {
    color: red;
  }
  
.btn-edit{
    display: grid;
    grid-template-columns: 50% 50%;
  }

  /* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

input[type=number] {
    appearance: textfield;
    border: none transparent;
  outline: none;
  }

.small-data {
    font-size: .6rem;
  }

.small-data-input {
    font-size: .6rem;
    background-color: #fff;
    border: 2px solid #679da9!important;
    border-radius: .2rem;
  }

/* mat-table {
    margin-top: .5rem;
    margin-bottom: 2rem;
    width: 100%;
  }
  
.mat-mdc-table {
    white-space: nowrap;
  }
  
mat-header-row{
    background-color: #424242;
  }
  
mat-header-cell {
    color: white;
    font-size: .5rem;
  } 
  
mat-cell{
    background-color: #919191;
  }*/

  mat-header-row{
    background-color: #424242;
  }
  
  mat-header-cell {
    color: white;
    font-size: .6rem;
  }
  
  mat-cell{
    background-color: #919191;
  }
  
  .mat-column-isSelected{
    /* width :50px;
    max-width:6rem; */
    word-wrap:break-word;
    max-width:3.5rem;
   /*  padding-left: 0; */
  }
  
  .mat-column-delegation{
    /* width :50px;
    max-width:6rem; */
    word-wrap:break-word;
   /*  padding-left: 0; */
  }
  
  .mat-column-year{
    /* width :50px;*/
    max-width:3rem;
   /* padding-left: 0; */
  }
  
  .mat-column-residueES{
    white-space: normal;
    min-width: 9rem;
    padding-left: 0;
  }
  /* .mat-column-jan{
    max-width: 4.5rem;
  }
  .mat-column-feb{
    max-width: 4.5rem;
  }
  .mat-column-mar{
    max-width: 4.5rem;
  }
  .mat-column-apr{
    max-width: 4.5rem;
  }
  .mat-column-may{
    max-width: 4.5rem;
  }
  .mat-column-jun{
    max-width: 4.5rem;
  }
  .mat-column-jul{
    max-width: 4.5rem;
  }
  .mat-column-aug{
    max-width: 4.5rem;
  }
  .mat-column-sep{
    max-width: 4.5rem;
  }
  .mat-column-oct{
    max-width: 4.5rem;
  }
  .mat-column-nov{
    max-width: 4.5rem;
  }
  .mat-column-dec{
    max-width: 4.5rem;
  } */
  .mat-column-isEdit{
    padding-right: 3rem;
  }  
