<div class="container-form residue-theme">
      <h1>{{'residueConsumption' | translate}}</h1>
      <form
        *ngIf="residueForm"
        [formGroup]="residueForm"
        (ngSubmit)="saveResidueForm()">

        <mat-card [class.mat-elevation-z8]="isElevated">
          <section >
            <mat-form-field [style.width.px]=325>
            <mat-label>{{'delegation' | translate}}</mat-label>
            <mat-select [formControl]="delegation">
              <mat-option *ngFor="let delegation of delegations" [value]="delegation.companyDelegationId">
                {{delegation.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="delegation.hasError('required')">{{'delegation' | translate}} <strong>{{'isRequired' | translate}}</strong></mat-error>
            </mat-form-field>

            <mat-form-field [style.width.px]=325>
              <mat-label>{{'year' | translate}}</mat-label>
                <mat-select [formControl]="yearResidue">
                  <mat-option *ngFor="let year of years" [value]="year.name">
                    {{year.name}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="yearResidue.hasError('required')">{{'year' | translate}} <strong>{{'isRequired' | translate}}</strong></mat-error>
              </mat-form-field>
          </section>

          <section>
          <mat-form-field [style.width.px]=650>
            <mat-label>{{'residueType' | translate}}</mat-label>
            <mat-select [formControl]="residue">
              <mat-option>
                <ngx-mat-select-search
                [formControl]="residueFilter"
                placeholderLabel="{{'searchResidue' | translate}}"
                noEntriesFoundLabel = "no matching residue found!"
                [clearSearchInput] = false
                [searching] = "isSearching"
                >
                <mat-icon ngxMatSelectSearchClear><i class="fa-solid fa-delete-left"></i></mat-icon>
              </ngx-mat-select-search>
              </mat-option>
                  <mat-option *ngFor="let item of residuesItem" [value]="item.itemId" class="small-data">
                    {{item.itemId}} - <strong>{{item.itemName}}</strong>
                  </mat-option>
            </mat-select>
            <mat-error *ngIf="residue.hasError('required')">{{'residueType' | translate}} <strong>{{'isRequired' | translate}}</strong></mat-error>
          </mat-form-field>
          </section>
          
          <button mat-raised-button color="primary" type="submit" [disabled]="!residueForm.valid">ADD</button>
        </mat-card>
      </form>

      <div style="margin-left: auto; margin-right: auto"><span id="postFeedback"></span></div>
      <div class='form-filter'>
        <mat-form-field class="item1">
          <mat-label>{{'filterByColumn' | translate}}</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Search columns" #input>
        </mat-form-field>
        <div class="item2">
          <mat-slide-toggle [(ngModel)]="isRatioBilling" class="item6" (change)="ratioBilling()">{{'ratioBillingMode' | translate}}</mat-slide-toggle>
        </div>
        <div class="item3">
          <mat-slide-toggle [(ngModel)]="isRatioCNAE" class="item7" (change)="ratioCNAE()">{{'ratioCNAEMode' | translate}}</mat-slide-toggle>
        </div>
      </div>
 
    <mat-label><strong>Nota:</strong> a final de año se tendrá que totalizar el residuo<br> e indicar el destino de este: reuse, recycling, <br>incineration, dump y compost</mat-label>
    <mat-paginator [pageSizeOptions]='[10, 15, 20, 50]' showFirstLastButtons></mat-paginator>    
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
        <mat-header-cell *matHeaderCellDef [ngSwitch]="col.key">
            <span *ngSwitchDefault>{{ col.label }}</span>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
          <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
            <div class="btn-edit" *ngSwitchCase="'isEdit'">
            <button mat-icon-button (click)="element.isEdit = !element.isEdit"
              class="material-icons app-toolbar-menu save-button"
              matTooltip="Edit" color="accent"><mat-icon>edit</mat-icon>
            </button>
            <button mat-icon-button class="material-icons app-toolbar-menu delete-button" (click)="removeRow(element)"
              matTooltip="Delete" color="warn"><mat-icon>delete</mat-icon>
            </button>
            </div>
            <span *ngSwitchCase="'number'" ngClass="small-data">
              {{ element[col.key] | number: '1.3-3' }}
            </span>
            <span *ngSwitchDefault ngClass="small-data">
              {{ element[col.key] }}
            </span>
          </div>

          <div [ngSwitch]="col.type" *ngIf="element.isEdit">
            <div class="btn-edit" *ngSwitchCase="'isEdit'">
              <button mat-button mat-raised-button color="accent" (click)="editRow(element)" [disabled]="valid[element.Id] === false"><mat-icon>done_all</mat-icon></button>
            </div>
            <span *ngSwitchCase="'isSelected'" ngClass="small-data">
              {{element[col.key]}}
            </span>
            <span *ngSwitchCase="'text'" ngClass="small-data">
              {{element[col.key]}}
            </span>
            <input *ngSwitchCase="'number'" [type]="col.type" [(ngModel)]="element[col.key]" ngClass="small-data-input">
          </div>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="columnsDisplayed"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columnsDisplayed;"></mat-row>
    </table>
    <!-- <app-file-upload></app-file-upload> -->
    <div class="loader" *ngIf="!dataSource">No data found yet...</div>

</div>
