li {
  margin: 0.25rem;
}
.auto-eval-list {
  background: #662974;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: inline-block;
  line-height: 2rem;
  color: black;
  text-align: center;
  margin-right: 0.5rem;
}
ol li {
  background: #DE51FF;
}
ol li {
  background: #EE9EFF;
}
