<div class="container-form">
  <h1>{{'waterConsumption' | translate}} (L)</h1>
  <form
    *ngIf="waterForm"
    [formGroup]="waterForm"
    (ngSubmit)="saveWaterForm()">

    <mat-card [class.mat-elevation-z8]="isElevated">
      <section>
        <mat-form-field [style.width.px]=325>
          <mat-label>{{'delegation' | translate}}</mat-label>
          <mat-select [formControl]="delegation" value="{{delegationDefault}}">
            <mat-option *ngFor="let delegation of delegations" [value]="delegation.companyDelegationId">
              {{delegation.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="delegation.hasError('required')">{{'delegation' | translate}}<strong>{{'isRequired' | translate}}</strong></mat-error>
        </mat-form-field>
        <mat-form-field [style.width.px]=325>
          <mat-label>{{'year' | translate}}</mat-label>
          <mat-select [formControl]="yearWater">
            <mat-option *ngFor="let year of years" [value]="year.name">
              {{year.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </section>

      <button mat-raised-button color="primary" type="submit" [disabled]="!waterForm.valid">ADD</button>
    </mat-card>
  </form>
  <div style="margin-left: auto; margin-right: auto"><span id="postFeedback"></span></div>
  <div class='form-filter'>
    <mat-form-field class="item1">
      <mat-label>{{'filterByColumn' | translate}}</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search columns" #input>
    </mat-form-field>
    <div class="item2">
      <mat-slide-toggle [(ngModel)]="isRatioBilling" class="item6" (change)="ratioBilling()">{{'ratioBillingMode' | translate}}</mat-slide-toggle>
    </div>
    <div class="item3">
      <mat-slide-toggle [(ngModel)]="isRatioCNAE" class="item7" (change)="ratioCNAE()">{{'ratioCNAEMode' | translate}}</mat-slide-toggle>
    </div>
    </div>

    <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
        <mat-header-cell *matHeaderCellDef [ngSwitch]="col.key">
            <span *ngSwitchDefault>{{col.label}}</span>
        </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
               <div class="btn-edit" *ngSwitchCase="'isEdit'">
                <button mat-icon-button (click)="element.isEdit = !element.isEdit"
                class="material-icons app-toolbar-menu save-button"
                matTooltip="Edit" color="accent"><i class="fa-solid fa-pencil fa-xs"></i>
              </button>
              <button mat-icon-button class="material-icons app-toolbar-menu delete-button" (click)="removeRow(element.consumptionId)"
                matTooltip="Delete" color="warn"><i class="fa-solid fa-trash fa-xs"></i>
              </button>
              </div>
              <span *ngSwitchCase="'number'" ngClass="small-data">
                {{ element[col.key] | number: '1.3-3' }}
              </span>
              <span *ngSwitchDefault ngClass="small-data">
                {{ element[col.key] }}
              </span>
            </div>

            <div [ngSwitch]="col.type" *ngIf="element.isEdit">
              <div class="btn-edit" *ngSwitchCase="'isEdit'">
                <button mat-button (click)="editRow(element)" [disabled]="valid[element.Id] === false">Done</button>
              </div>
              <span *ngSwitchCase="'isSelected'" ngClass="small-data">
                {{element[col.key]}}
              </span>

              <span *ngSwitchCase="'text'" ngClass="small-data">
                {{element[col.key]}}
              </span>

              <input *ngSwitchCase="'number'" [type]="col.type" [(ngModel)]="element[col.key]" ngClass="small-data-input" [style.width.px]='50'/>
            </div>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="columnsDisplayed"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columnsDisplayed;"></mat-row>
    </mat-table>
    <app-file-upload></app-file-upload>
    <div class="loader" *ngIf="!dataSource">No records found yet...</div>
  <ng-template #noDataFoundYet>
    <span class="loader">No data found yet...</span>
  </ng-template>

</div>
