<div class="container-form">
  <h1>{{'waterConsumption' | translate}}</h1>
  <form
    *ngIf="waterForm"
    [formGroup]="waterForm"
    (ngSubmit)="saveWaterForm()">

    <mat-card [class.mat-elevation-z8]="isElevated">
      <section>
        <mat-form-field [style.width.px]=327>
          <mat-label>{{'delegation' | translate}}</mat-label>
          <mat-select [formControl]="delegation">
            <mat-option *ngFor="let delegation of delegations" [value]="delegation.companyDelegationId">
              {{delegation.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="delegation.hasError('required')">{{'delegation' | translate}}<strong>{{'isRequired' | translate}}</strong></mat-error>
        </mat-form-field>
      </section>

      <section>
        <mat-form-field appearance="fill" [style.width.px]=327>
          <mat-label>{{'monthAndYear' | translate}}</mat-label>
          <input matInput maxlength="7" minlength="7"
              [matDatepicker]="dp" 
              datePickerFormat="MM/YYYY"
              [formControl]="monthYearDate">
          <mat-hint>MM/YYYY</mat-hint>
         <!--  <mat-datepicker-toggle matIconSuffix [for]="dp"></mat-datepicker-toggle> -->
          <mat-datepicker #dp
                          startView="multi-year"
                          (monthSelected)="setMonthAndYear($event, dp)"
                          >
          </mat-datepicker>
          <mat-error *ngIf="monthYearDate.hasError('required')">{{'monthAndYear' | translate}} <strong>{{'isRequired' | translate}}</strong></mat-error> 
        </mat-form-field>
      </section>

      <section>
        <mat-form-field [style.width.px]=327>
          <mat-label>{{'quantity' | translate}} (L)</mat-label>
          <input matInput type="number" [formControl]="quantityWater" />
          <mat-error *ngIf="quantityWater.hasError('required')">{{'quantity' | translate}} <strong>{{'isRequired' | translate}}</strong></mat-error>
        </mat-form-field>
      </section>
      <button mat-raised-button color="primary" type="submit" [disabled]="!waterForm.valid">ADD</button>
    </mat-card>
  </form>
  <div style="margin-left: auto; margin-right: auto">
    <span id="postFeedback"></span>
  </div>
</div>

<h2>{{'consumptionList' | translate}}</h2>
<table *ngIf="!isGridView" mat-table [dataSource]="consumptions" class="mat-elevation-z8">

  <ng-container matColumnDef="delegation">
    <th mat-header-cell *matHeaderCellDef>{{'delegation' | translate}}</th>
    <td mat-cell *matCellDef="let consumption">{{consumption.delegation}}</td>
  </ng-container>
  <ng-container matColumnDef="water">
    <th mat-header-cell *matHeaderCellDef>{{'energyType' | translate}}</th>
    <td mat-cell *matCellDef="let consumption">{{'water' | translate}}</td>
  </ng-container>
  <ng-container matColumnDef="year">
    <th mat-header-cell *matHeaderCellDef>Year</th>
    <td mat-cell *matCellDef="let consumption">{{consumption.energyES}}</td>
  </ng-container>
  <ng-container matColumnDef="enero">
    <th mat-header-cell *matHeaderCellDef>Enero</th>
    <td mat-cell *matCellDef="let consumption" matTooltip={{consumption.fromDate}}>{{ consumption.fromDate | formatDate: 3 }}</td>
  </ng-container>
  <ng-container matColumnDef="febrero">
    <th mat-header-cell *matHeaderCellDef>Febrero</th>
    <td mat-cell *matCellDef="let consumption" matTooltip={{consumption.toDate}}>{{consumption.toDate | formatDate: 3}}</td>
  </ng-container>
  <ng-container matColumnDef="marzo">
    <th mat-header-cell *matHeaderCellDef>Marzo</th>
    <td mat-cell *matCellDef="let consumption" matTooltip={{consumption.fromDate}}>{{ consumption.fromDate | formatDate: 3 }}</td>
  </ng-container>
  <ng-container matColumnDef="abril">
    <th mat-header-cell *matHeaderCellDef>Abril</th>
    <td mat-cell *matCellDef="let consumption" matTooltip={{consumption.toDate}}>{{consumption.toDate | formatDate: 3}}</td>
  </ng-container>
  <ng-container matColumnDef="mayo">
    <th mat-header-cell *matHeaderCellDef>Mayo</th>
    <td mat-cell *matCellDef="let consumption" matTooltip={{consumption.fromDate}}>{{ consumption.fromDate | formatDate: 3 }}</td>
  </ng-container>
  <ng-container matColumnDef="junio">
    <th mat-header-cell *matHeaderCellDef>Junio</th>
    <td mat-cell *matCellDef="let consumption" matTooltip={{consumption.toDate}}>{{consumption.toDate | formatDate: 3}}</td>
  </ng-container>
  <ng-container matColumnDef="julio">
    <th mat-header-cell *matHeaderCellDef>Julio</th>
    <td mat-cell *matCellDef="let consumption" matTooltip={{consumption.fromDate}}>{{ consumption.fromDate | formatDate: 3 }}</td>
  </ng-container>
  <ng-container matColumnDef="agosto">
    <th mat-header-cell *matHeaderCellDef>Agosto</th>
    <td mat-cell *matCellDef="let consumption" matTooltip={{consumption.toDate}}>{{consumption.toDate | formatDate: 3}}</td>
  </ng-container>
  <ng-container matColumnDef="setiembre">
    <th mat-header-cell *matHeaderCellDef>Setiembre</th>
    <td mat-cell *matCellDef="let consumption" matTooltip={{consumption.fromDate}}>{{ consumption.fromDate | formatDate: 3 }}</td>
  </ng-container>
  <ng-container matColumnDef="octubre">
    <th mat-header-cell *matHeaderCellDef>Octubre</th>
    <td mat-cell *matCellDef="let consumption" matTooltip={{consumption.toDate}}>{{consumption.toDate | formatDate: 3}}</td>
  </ng-container>
  <ng-container matColumnDef="noviembre">
    <th mat-header-cell *matHeaderCellDef>Noviembre</th>
    <td mat-cell *matCellDef="let consumption" matTooltip={{consumption.fromDate}}>{{ consumption.fromDate | formatDate: 3 }}</td>
  </ng-container>
  <ng-container matColumnDef="diciembre">
    <th mat-header-cell *matHeaderCellDef>Diciembre</th>
    <td mat-cell *matCellDef="let consumption" matTooltip={{consumption.toDate}}>{{consumption.toDate | formatDate: 3}}</td>
  </ng-container>

  <ng-container matColumnDef="ACTIONS">
    <th mat-header-cell *matHeaderCellDef> ACTIONS</th>
    <td mat-cell *matCellDef="let consumption">
   <!--    <button mat-icon-button color="accent" matTooltip="Update this indicator"
      aria-label="Button that displays a tooltip and updates this indicator" (click)="updatePost(consumption.consumptionId)">
        <mat-icon>edit</mat-icon>
      </button> -->
      <button mat-icon-button color="warn" matTooltip="Permanently delete this indicator"
      aria-label="Button that displays a tooltip and permanently deletes this indicator" (click)="deleteWaterConsumption(consumption.consumptionId)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsDisplayed"></tr>
  <tr mat-row *matRowDef="let item; columns: columnsDisplayed;" class="animate__animated animate__fadeInLeft"></tr>
</table>

<div class="loader" *ngIf="!consumptions">No records found yet...</div>
