<section class="energy-list mat-elevation-z4">
  <h2>Gestión de Energías</h2>

  <div class="actions">
    <button mat-raised-button color="primary" routerLink="/energy/new">
      ➕ Nueva Energía
    </button>
  </div>
  <mat-progress-bar mode="indeterminate" color="primary" *ngIf="isLoading"></mat-progress-bar>
  <mat-paginator [pageSize]="15" [pageSizeOptions]="[5, 15, 30]" showFirstLastButtons> </mat-paginator>
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Nombre ES -->
    <ng-container matColumnDef="nameES">
      <mat-header-cell *matHeaderCellDef> Nombre (ES) </mat-header-cell>
      <mat-cell *matCellDef="let energy"> {{ energy.nameES }} </mat-cell>
    </ng-container>

    <!-- Nombre CA -->
    <ng-container matColumnDef="nameCA">
      <mat-header-cell *matHeaderCellDef> Nombre (CA) </mat-header-cell>
      <mat-cell *matCellDef="let energy"> {{ energy.nameCA }} </mat-cell>
    </ng-container>

    <!-- Unidad -->
    <ng-container matColumnDef="unit">
      <mat-header-cell *matHeaderCellDef> Unidad </mat-header-cell>
      <mat-cell *matCellDef="let energy"> {{ energy.unit }} </mat-cell>
    </ng-container>

    <!-- PCI -->
    <ng-container matColumnDef="pci">
      <mat-header-cell *matHeaderCellDef> PCI </mat-header-cell>
      <mat-cell *matCellDef="let energy"> {{ energy.pci }} </mat-cell>
    </ng-container>

    <!-- convLKg -->
    <ng-container matColumnDef="convLKg">
      <mat-header-cell *matHeaderCellDef> convLKg </mat-header-cell>
      <mat-cell *matCellDef="let energy"> {{ energy.convLKg }} </mat-cell>
    </ng-container>

    <!-- Acciones -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef> Acciones </mat-header-cell>
      <mat-cell *matCellDef="let energy">
        <button mat-icon-button color="accent" [routerLink]="['/energy', energy.energyId]">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteEnergy(energy.energyId!)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </table>
</section>