<div class="container-chart">

  <h2>{{ 'totalActivityReported' | translate }}:</h2>


  <li *ngFor="let item of aspectConsumptions; index as i; first as isFirst">
    {{i}}/{{aspectConsumptions.length}}. {{item.quantity}} {{item.pci}} {{item.fromDate}} {{item.toDate}} {{item.quantity*item.pci}}<span *ngIf="isFirst">default</span>
  </li>
  
  <div class="graphContainer">
    <div class="chart-container">
      <canvas  id="graphDashboard" aria-label="bar graph total Energy, Water, Residue, Material and CO2">{{ chart }}</canvas>
    </div>
    <div class="chart-container">
      <canvas  id="graphDashboardWater" aria-label="Water">{{ chart }}</canvas>
    </div>
    <div class="chart-container">
      <canvas  id="graphDashboardResidue" aria-label="Residue">{{ chart }}</canvas>
    </div>
    <div class="chart-container">
      <canvas  id="graphDashboardEmissions" aria-label= "COe2 Emissions">{{ chart }}</canvas>
    </div>
    <div class="chart-container">
      <canvas  id="graphDashboardTesting" aria-label= "Testing">{{ chart }}</canvas>
    </div>
  </div>


  <app-modal></app-modal>

  
  <div class="loader" *ngIf="!consumptions">No records found yet...</div>

</div>


