@use "../../../styles/themes/ils-theme" as theme;

.filtro-graficas {
  clear: both;
  padding-top: 0;
  margin-bottom: 0;
}

form {
  background-color: #ECECEC;
  overflow: hidden;
  padding: 1rem;
  margin-bottom: 0;
}

 canvas {
  max-width: 90%;
  max-height: 70%;
}

.fields-container{
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-areas:
    "a c d e e"
    "a c f g h"
    "a c i j j"
    "k k i j j";
}

.small-data {
  font-size: .6rem;
}
.item0 {
  grid-area: a;
  align-self: center;
  justify-self: center;
}
.item2 {
  grid-area: c;
  align-self: center;
  justify-self: center;
  padding-right: .5rem;
}
.item3 {
  grid-area: d;
  padding-left: .5rem;
}
.item5 {
  grid-area: f;
  padding-left: .5rem;
}
.item8 {
  grid-area: i;
  padding-left: .5rem;
}
.item10 {
  grid-area: k;
  align-self: left;
  justify-self: left;
}

@media only screen and (max-width: theme.$app-break-point) {
  form  {
    padding: 1rem 1rem;
  }
  .graph-container {
    grid-template-columns: 100%;
    gap: .5rem;
  }
  .fields-container{
    grid-template-columns: repeat(5, auto);
    grid-template-areas:
      "a d d d d"
      "a d d d d"
      "c f f f f"
      "c i i i i"
      "k k k k k";
  }
  .item10 {
    align-self: right;
    justify-self: right;
  }
  canvas{
    max-width: 100%;
    max-height: auto;
  }

}
