@use "../../../styles/themes/ils-theme" as theme;

.filtro-graficas
{
  clear: both;
  padding-top: 0;
}

form {
  border-top: 1px dotted #AAAAAA;
  border-bottom: 1px dotted #AAAAAA;
  background-color: #ECECEC;
  overflow: hidden;
  padding: 32px 32px;
}

canvas{
  max-width: 70%;
  max-height: 35%;
}

.fields-container{
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-areas:
      "a b c d e e"
      "a b c f g h"
      "a b c i j j"
      "k k k i j j"
      ;
}

.small-data {
  font-size: .6rem;
}
.item0 {
  grid-area: a;
  align-self: center;
  justify-self: center;
}
.item1 {
  grid-area: b;
  align-self: center;
  justify-self: center;
}
.item2 {
  grid-area: c;
  align-self: center;
  justify-self: center;
}
.item3 {
  grid-area: d;
  padding-left: .5rem;
}
.item4 {
  grid-area: e;
  padding-left: .5rem;
}
.item5 {
  grid-area: f;
  padding-left: .5rem;
}
.item6 {
  grid-area: g;
  padding-left: .5rem;
}
.item7 {
  grid-area: h;
  padding-left: .5rem;
}
.item8 {
  grid-area: i;
  padding-left: .5rem;
}
.item9 {
  grid-area: j;
  padding-left: .5rem;
}
.item10 {
  grid-area: k;
  align-self: center;
  justify-self: center;
}

@media only screen and (max-width: theme.$app-break-point) {
  form  {
      padding: 1rem 1rem;
  }
  .graph-container {
        grid-template-columns: 100%;
        gap: 1.5rem;
  }
  .fields-container{
      grid-template-columns: auto;
      grid-template-areas:
        "a d h"
        "b e g"
        "c e f"
        "k i j";
  }
  canvas{
    max-width: 100%;
    max-height: auto;
  }

}
