#filtroFacturas
{
  clear: both;
  padding-top: 55px;
}
form {
    border-top: 1px dotted #AAAAAA;
  border-bottom: 1px dotted #AAAAAA;
  background-color: #ECECEC;
  overflow: hidden;
  padding: 32px 32px;
}
.fields-container{
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-areas:
      "a b c d e"
      "f f f f f";
}

.item1 {
  grid-area: a;
  align-self: center;
  justify-self: center;
}
.item2 {
  grid-area: b;
  align-self: center;
  justify-self: center;
}
.item3 {
  grid-area: c;
  align-self: center;
  justify-self: center;
}
.item4 {
  grid-area: d;
  align-self: center;
  justify-self: center;
}
.item5 {
  grid-area: e;
  align-self: center;
  justify-self: center;
}
.item6 {
    grid-area: f;
    align-self: center;
    justify-self: center;
  }

canvas {
  box-sizing: border-box;
  display: block;
  max-height: 60%;
  max-width: 80%;
}

@media only screen and (max-width: 768px) {
    .graph-container {
        grid-template-columns: 100%;
        gap: 1.5rem;
    }
}
