<div class="container-form">
  <h2>{{ 'sustainabilityIndicatorsCharts' | translate }}</h2>
  <div id='filtroGraficas'>
    <form
      *ngIf="graphForm"
      [formGroup]="graphForm"
      (ngSubmit)="chartGenerate()">
      <div class='fields-container'>

        <mat-form-field [style.width.px]=220 class="item1">
          <mat-label>{{'delegation' | translate}}</mat-label>
          <mat-select [formControl]="delegation" panelClass="panel-{{delegation.value}}">
            <mat-option *ngFor="let delegation of delegations" [value]="delegation.name">
              {{delegation.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="delegation.hasError('required')">{{'delegation' | translate}} <strong>{{'isRequired' | translate}}</strong></mat-error>
        </mat-form-field>

        <mat-form-field [style.width.px]=220 class="item2">
          <mat-label>{{'aspect' | translate}}</mat-label>
          <mat-select [formControl]="aspect" (selectionChange)="changeAspect($event)">
            <mat-option value="1">{{aspectEnergy}}</mat-option>
            <mat-option value="2">{{aspectWater}}</mat-option>
            <mat-option value="3">{{aspectResidue}}</mat-option>
            <mat-option value="5">{{aspectEmissions}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field [style.width.px]=220 *ngIf="isEnergy" class="item3">
          <mat-label>{{'selectEnergy' | translate}}</mat-label>
            <mat-select [formControl]="energy" (selectionChange)="selectionEnergyResidueChange($event)">
              <mat-option *ngFor="let energy of energies" [value]="energy.nameES" class="small-data">
                {{energy.nameES}}
              </mat-option>
            </mat-select>
          <mat-error *ngIf="energy.hasError('required')">{{'energyType' | translate}} <strong>{{'isRequired' | translate}}</strong></mat-error>
        </mat-form-field>

        <mat-form-field [style.width.px]=425 *ngIf="isResidue" class="item4">
          <mat-label>{{'residueType' | translate}}</mat-label>
          <mat-select [formControl]="residue" (selectionChange)="selectionEnergyResidueChange($event)">
            <mat-option>
              <ngx-mat-select-search
              [formControl]="residueFilter"
              placeholderLabel="{{'searchResidue' | translate}}"
              noEntriesFoundLabel = "no matching residue found!"
              [clearSearchInput] = false
              [searching] = "isSearching"
              >
              <mat-icon ngxMatSelectSearchClear><i class="fa-solid fa-delete-left"></i></mat-icon>
            </ngx-mat-select-search>
            </mat-option>
                <mat-option *ngFor="let items of residuesItem" [value]="items.chapterItemId" class="small-data">
                  {{items.chapterItemId}} - <strong>{{items.chapterItemName}}</strong>
                </mat-option>
          </mat-select>
          <mat-error *ngIf="residue.hasError('required')">{{'residueType' | translate}} <strong>{{'isRequired' | translate}}</strong></mat-error>
        </mat-form-field>

        <mat-button-toggle-group name="buttonsform" aria-label="buttons form reset and submit" class="item5">
          <button mat-raised-button color="accent" (click)="graphFormReset()">Reset</button>
          <button mat-raised-button color="primary" type="submit" [disabled]="!graphForm.valid">Graph</button>
        </mat-button-toggle-group>
        <mat-slide-toggle [(ngModel)]="isRatioBilling" [formControl]="ratioBillingGraph" class="item6" (change)="chartRatioBilling()">Ratio billing graph</mat-slide-toggle>
        <mat-slide-toggle [(ngModel)]="isRatioCNAE" [formControl]="ratioCNAEgGraph" class="item7" (change)="chartRatioCNAE()">Ratio CNAE graph</mat-slide-toggle>

      </div>
    </form>
  </div>
<div class="warn">Versión en desarrollo. No es válida para trabajo</div>
  <canvas id="graph" aria-label= "Activity graph" role="chart"
    (Click)="onChartClick($event)">{{ chart }}</canvas>
  <app-modal></app-modal>
  <div class="loader" *ngIf="!consumptions">No data loaded yet...</div>
</div>
