.app-state{
    text-align: right;
    width: 100%;
}

.has-to-be-shown {
    display: none;
}

.not-has-to-be-shown {
  display: block;
  position: relative;
  top: -3px;
}

.logoArea {
    display: grid;
    grid-template-columns: 10% auto;
}

.logo{
    margin: 1rem;
    width: 10%;
}
  

/* @media only screen and (max-width: 950px) {
    .has-to-be-shown {
        display: none;
    }
    .not-has-to-be-shown {
        display: block;
    }
} */