
<!-- <img class="logo" src="../../../assets/images/logo_ils.svg" alt="ILS data logger"> -->

<!-- NO AUTH REQUIRED -->
<div *ngIf="showNoAuthSection">
  <mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu ils data logger" [ngClass]="'not-has-to-be-shown'"><span [ngClass]="'not-has-to-be-shown'"><i class="fa-solid fa-bars fa-xl" style="color: #fff;"></i></span></button>
    <mat-menu #menu="matMenu">
       <button mat-menu-item (click)="home()"><i class="fa-solid fa-house"></i> {{'home' | translate}}</button>
       <button mat-menu-item (click)="login()"><i class="fa-solid fa-right-to-bracket"></i> {{'login' | translate}}</button>
       <app-select-language></app-select-language>
    </mat-menu>
    <span class="app-state">{{userId}} </span>
    <img src="../../../assets/images/logo_ils.svg" title="Industria Local Sostenible" alt="Industria Local Sostenible" class="logo">
  </mat-toolbar>
</div>

<!-- AUTH REQUIRED -->
<div *ngIf="showAuthSection">
  <mat-menu #menu="matMenu">
    <div>
      <button *ngIf="!isCompany" mat-menu-item (click)="dashboard()"><i class="fa-solid fa-chart-simple"></i> {{'sustainabilityIndicatorsCharts' | translate}}</button>
      <button *ngIf="!isCompany" mat-menu-item (click)="adminConsumptions()"><i class="fa-solid fa-database"></i> {{'activityData' | translate}}</button>
      <button *ngIf="!isCompany" mat-menu-item (click)="adminRatios()"><i class="fa-solid fa-list-check"></i> {{'productionData' | translate}}</button>
      <button *ngIf="!isCompany" mat-menu-item (click)="myObjectives()"><i class="fa-solid fa-bullseye"></i> {{'myObjectives' | translate}}</button>
      <mat-divider *ngIf="!!isCompany"></mat-divider>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="globalQuestionnaire()" ><i class="fa-solid fa-square-poll-horizontal"></i> {{'globalQuestionnaire' | translate}}</button>
      <button mat-menu-item (click)="globalQuestionnaireList()" ><i class="fa-solid fa-list"></i> {{'answeredQuestionnairesList' | translate}}</button>
      <button mat-menu-item (click)="autoEvaluationQuestionnaire()" ><i class="fa-solid fa-square-poll-horizontal"></i> {{'autoevaluationQuestionnaire' | translate}}</button>
      <mat-divider></mat-divider>

      <button mat-menu-item (click)="profile()"><i class="fa-solid fa-user"></i> {{'profile' | translate}}</button>
      <mat-divider></mat-divider>
      <button *ngIf="!isCompany" mat-menu-item (click)="createUser()"><i class="fa-solid fa-user-plus"></i> {{'createAccount' | translate}}</button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="logout()"><i class="fa-solid fa-right-from-bracket"></i> {{'logout' | translate}}</button>
    </div>
  </mat-menu>

  <mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu ils data logger" [ngClass]="'not-has-to-be-shown'">
      <i class="fa-solid fa-bars fa-xl" style="color: #fff;"></i>
    </button>
    <span class="app-state">{{userId}} </span>
      <img src="../../../assets/images/logo_ils.svg" title="Industria Local Sostenible" alt="Industria Local Sostenible" class="logo">
  </mat-toolbar>
</div>
