.has-to-be-shown {
    display: block;
}

.not-has-to-be-shown {
    display: none;
}

.logoArea {
    display: grid;
    grid-template-columns: 10% auto;
}

.logo{
    margin: 1rem;
}


@media only screen and (max-width: 768px) {
    .has-to-be-shown {
        display: none;
    }
    .not-has-to-be-shown {
        display: block;
    }
}