@use "../../../styles/themes/ils-theme" as theme;

.app-state{
    text-align: right;
    width: 100%;
    color: theme.$alternate-color;
}

.has-to-be-shown {
    display: none;
}

.not-has-to-be-shown {
    display: block;
    position: relative;
    top: -1px;
}

.logoArea {
    display: grid;
    grid-template-columns: 10% auto;
}

.logo{
    padding: 2.5rem;
    width: 15%;
}

span{
    color: theme.$alternate-color;
}

@media (max-width: theme.$app-break-point) {
    .logo{
        margin-left: 0.5rem;
        padding: 0;
        width: 20%;
    }
  }