.error {
  color: red;
}

#postFeedback {
  visibility: hidden;
  min-width: 250px;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 16px;
  z-index: 1;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
}

#postFeedback.requestOk {
  background-color: green;
}

#postFeedback.requestKo {
  background-color: red;
}

#postFeedback.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.button-add-row {
  background: #1b9e1b;
  color: #ffffff;
}
.button-remove-rows {
  background: red;
  color: #ffffff;
  margin-right: 5px;
}
.button-remove {
  color: red;
}
.btn-edit{
  display: grid;
  grid-template-columns: 50% 50%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
  border: none transparent;
  outline: none;
}

.jan-checkbox{
  display: grid;
  grid-template-columns: 20% 80%;
  gap: .2rem;
}

.small-data-text {
  font-size: .5rem;
  background-color: rgb(1, 219, 248);
  border: 1px solid rgb(168, 165, 165);
}

.small-data {
  font-size: .6rem;
}

.small-data-input {
  font-size: .5rem;
  background-color: aquamarine;
  border: 1px solid black!important;
}

.small-data-scope1 {
  font-size: .5rem;
  background-color: rgb(248, 190, 1);
  border: 1px solid black!important;
}

.small-data-scope2 {
  font-size: .5rem;
  background-color: rgb(248, 100, 1);
  border: 1px solid black!important;
}

.input-column{
  display: grid;
  grid-template-columns: 50px;
  border: 1px solid green;
}

mat-table {
  margin-top: .5rem;
  margin-bottom: 2rem;
  width: 100%;
  max-height: 500px;
  overflow: auto;
}

mat-header-row{
  background-color: #424242;
}

mat-header-cell {
  color: white;
  font-size: .5rem;
  max-width: 5rem;
  text-align: left;
  padding-left: 0;
  padding-right: .5rem;
}

mat-cell {
  background-color: #919191;
  max-width: 5rem;
  border: 1px solid green;
  text-align: left;
  padding-left: 0;
}

 .mat-column-isSelected{
  padding-right: 1.25rem;
}
.mat-column-delegation{
  width: 5rem;
}
/*.mat-column-year{
  padding-right: 2rem;
} */
.mat-column-jan{
  width: 4rem;
}
.mat-column-feb{
  width: 4rem;
}
.mat-column-mar{
  width: 4rem;
}
.mat-column-apr{
  width: 4rem;
}
.mat-column-may{
  width: 4rem;
}
.mat-column-jun{
  width: 4rem;
}
.mat-column-jul{
  width: 4rem;
}
.mat-column-aug{
  width: 4rem;
}
.mat-column-sep{
  width: 4rem;
}
.mat-column-oct{
  width: 4rem;
}
.mat-column-nov{
  width: 4rem;
}
.mat-column-dec{
  width: 4rem;
}
.mat-column-isEdit{
  padding-right: 6rem;
}
