.error {
  color: red;
}

#postFeedback {
  visibility: hidden;
  min-width: 250px;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 16px;
  z-index: 1;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
}

#postFeedback.requestOk {
  background-color: green;
}

#postFeedback.requestKo {
  background-color: red;
}

#postFeedback.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.button-add-row {
  background: #1b9e1b;
  color: #ffffff;
}
.button-remove-rows {
  background: red;
  color: #ffffff;
  margin-right: 5px;
}
.button-remove {
  color: red;
}
.btn-edit{
  display: grid;
  grid-template-columns: 50% 50%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
  border: none transparent;
  outline: none;
}

.small-data-text {
  font-size: .6rem;
  background-color: #fff;
  border: 2px solid #679da9!important;
  border-radius: .2rem;
}

.small-data {
  font-size: .6rem;
}

.containerEmission{
  display: grid;
  grid-template-rows: 100%;
}

.co2 {
  color: aquamarine;
}
.inputCo2 {
  font-size: .5rem;
  background-color: aquamarine;
  border: 1px solid black!important;
}

.scopeOne {
  color: rgb(248, 190, 1);
}
.inputScopeOne {
  font-size: .5rem;
  background-color: rgb(248, 190, 1);
  border: 1px solid black!important;
}

.scopeTwo {
  color: rgb(248, 100, 1);
}
.inputScopeTwo {
  font-size: .5rem;
  background-color: rgb(248, 100, 1);
  border: 1px solid black!important;
}

.input-column{
  display: grid;
  grid-template-columns: 50px;
}

mat-header-row{
  background-color: #424242;
}

mat-header-cell {
  color: white;
  font-size: .6rem;
}

mat-cell{
  background-color: #919191;
}

.mat-column-delegation{
  word-wrap: break-word;
}

.mat-column-year{
  word-wrap:break-word;
}

