<div class="container-form">
  <h1>{{'emissionConsumption' | translate}}</h1>
  <form
    *ngIf="emissionForm"
    [formGroup]="emissionForm"
    (ngSubmit)="saveEmissionForm()">

    <mat-card [class.mat-elevation-z8]="isElevated">
      <section>
        <mat-form-field appearance="outline" [style.width.px]=425>
          <mat-label>{{'delegation' | translate}}</mat-label>
          <mat-select [formControl]="delegation">
            <mat-option *ngFor="let delegation of delegations" [value]="delegation.companyDelegationId">
              {{delegation.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="delegation.hasError('required')">{{'delegation' | translate}} <strong>{{'isRequired' | translate}}</strong></mat-error>
        </mat-form-field>
      </section>

      <section>
        <mat-form-field appearance="outline" [style.width.px]=425>
          <mat-label>{{'year' | translate}}</mat-label>
          <mat-select [formControl]="yearEmission">
            <mat-option value="2019">2019</mat-option>
            <mat-option value="2020">2020</mat-option>
            <mat-option value="2021">2021</mat-option>
            <mat-option value="2022">2022</mat-option>
            <mat-option value="2023">2023</mat-option>
            <mat-option value="2024">2024</mat-option>
            <mat-option value="2025">2025</mat-option>
          </mat-select>
          <mat-error *ngIf="yearEmission.hasError('required')">{{'year' | translate}} <strong>{{'isRequired' | translate}}</strong></mat-error>
        </mat-form-field>
      </section>

      <section>
        <mat-form-field appearance="outline" [style.width.px]=425>
          <mat-label>{{'quantityCO2e' | translate}}</mat-label>
          <input matInput type="number" [formControl]="quantityEmission" />
          <mat-error *ngIf="quantityEmission.hasError('required')">{{'quantity' | translate}} <strong>{{'isRequired' | translate}}</strong></mat-error>
        </mat-form-field>
      </section>

     <!--  <section>
        <mat-label>{{'selectRatioType' | translate}}</mat-label><br>
        <mat-radio-group aria-label="Please, select the ratio type" [formControl]="theRatioType" (change)='ratioTypeSelected(theRatioType.value)'>
          <mat-radio-button value="billing">{{'billing' | translate}} (kEUR)</mat-radio-button>
          <mat-radio-button value="cnae">CNAE</mat-radio-button>
        </mat-radio-group>
      </section> -->

<!--       <section>
        <mat-form-field appearance="outline" [style.width.px]=425>
          <mat-label>{{'monthlyObjective' | translate}}</mat-label>
          <input matInput type="number" [formControl]="objective" />
          <mat-error *ngIf="objective.hasError('required')">{{'monthlyObjective' | translate}} <strong>{{'isRequired' | translate}}</strong></mat-error>
        </mat-form-field>
      </section> -->

      <section>
        <mat-form-field appearance="outline" [style.width]='20'>
          <mat-label>{{"scopeOne" | translate}}</mat-label>
          <input matInput type="number" [formControl]="scopeone" />
          <mat-error *ngIf="scopeone.hasError('required')">{{"scopeOne" | translate}} <strong>{{'isRequired' | translate}}</strong></mat-error>
        </mat-form-field>
<!--       </section>

      <section> -->
        <mat-form-field appearance="outline" [style.width]='20'>
          <mat-label>{{"scopeTwo" | translate}}</mat-label>
          <input matInput type="number" [formControl]="scopetwo" />
          <mat-error *ngIf="scopetwo.hasError('required')">{{'scopeTwo' | translate}} <strong>{{'isRequired' | translate}}</strong></mat-error>
        </mat-form-field>
      </section>

      <button mat-raised-button color="primary" type="submit" [disabled]="!emissionForm.valid">ADD</button>
    </mat-card>
  </form>
</div>

<h2>{{'consumptionList' | translate}}</h2>
<mat-form-field>
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Search columns" #input>
</mat-form-field>

<mat-table *ngIf="!isGridView" [dataSource]="consumptions" class="mat-elevation-z8" matSort #emissionTbSort="matSort">
  <ng-container matColumnDef="delegation">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'delegation' | translate}}</mat-header-cell>
    <mat-cell *matCellDef="let consumption">{{consumption.delegation}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="year">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'year' | translate}}</mat-header-cell>
    <mat-cell *matCellDef="let consumption">{{consumption.year}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="quantity">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'quantityCO2e' | translate}}</mat-header-cell>
    <mat-cell *matCellDef="let consumption" title="{{consumption.quantity | formatQuantity: 8}}">{{consumption.quantity}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="objective">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'objectiveCO2e' | translate}}</mat-header-cell>
    <mat-cell *matCellDef="let consumption" title="{{consumption.objective | formatQuantity: 8}}">{{consumption.objective}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="scopeone">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'scopeOne' | translate}}</mat-header-cell>
    <mat-cell *matCellDef="let consumption" title="{{consumption.scopeOne | formatQuantity: 8}}">{{consumption.scopeOne}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="scopetwo">
    <mat-header-cell *matHeaderCellDef mat-sort-header>{{'scopeTwo' | translate}}</mat-header-cell>
    <mat-cell *matCellDef="let consumption" title="{{consumption.scopeTwo | formatQuantity: 8}}">{{consumption.scopeTwo}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="ACTIONS">
    <mat-header-cell *matHeaderCellDef>ACTIONS</mat-header-cell>
    <mat-cell *matCellDef="let consumption">
<!--       <button mat-icon-button color="accent" matTooltip="Update this indicator"
        aria-label="Button that displays a tooltip and updates this indicator" (click)="updateEmissionConsumption(consumption.consumptionId)">
        <mat-icon>edit</mat-icon>
      </button> -->
    <button mat-icon-button color="warn" matTooltip="Permanently delete this indicator"
      aria-label="Button that displays a tooltip and deletes this indicator" (click)="deleteEmissionConsumption(consumption.consumptionId)"><mat-icon>delete</mat-icon>
    </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columnsDisplayed"></mat-header-row>
  <mat-row *matRowDef="let item; columns: columnsDisplayed;"></mat-row>
</mat-table>

<div class="loader" *ngIf="!consumptions">No records found yet...</div>
