<div class="container-form">
  <h1>{{'emissionConsumption' | translate}}</h1>
  <form
    *ngIf="emissionForm"
    [formGroup]="emissionForm"
    (ngSubmit)="saveEmissionForm()">

    <mat-card [class.mat-elevation-z8]="isElevated">
      <section>
        <mat-form-field [style.width.px]=425>
          <mat-label>{{'delegation' | translate}}</mat-label>
          <mat-select [formControl]="delegation">
            <mat-option *ngFor="let delegation of delegations" [value]="delegation.companyDelegationId">
              {{delegation.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="delegation.hasError('required')">{{'delegation' | translate}} <strong>{{'isRequired' | translate}}</strong></mat-error>
        </mat-form-field>
      </section>

      <section>
        <mat-form-field [style.width.px]=425>
          <mat-label>{{'year' | translate}}</mat-label>
          <mat-select [formControl]="yearEmission">
            <mat-option value="2019">2019</mat-option>
            <mat-option value="2020">2020</mat-option>
            <mat-option value="2021">2021</mat-option>
            <mat-option value="2022">2022</mat-option>
            <mat-option value="2023">2023</mat-option>
            <mat-option value="2024">2024</mat-option>
            <mat-option value="2025">2025</mat-option>
          </mat-select>
          <mat-error *ngIf="yearEmission.hasError('required')">{{'year' | translate}} <strong>{{'isRequired' | translate}}</strong></mat-error>
        </mat-form-field>
      </section>

<!--       <section>
        <mat-form-field [style.width.px]=425>
          <mat-label>{{'quantityCO2e' | translate}}</mat-label>
          <input matInput type="number" [formControl]="quantityEmission" />
          <mat-error *ngIf="quantityEmission.hasError('required')">{{'quantity' | translate}} <strong>{{'isRequired' | translate}}</strong></mat-error>
        </mat-form-field>
      </section> -->

    <!--   <section>
        <mat-form-field [style.width]='20'>
          <mat-label>{{"scopeOne" | translate}}</mat-label>
          <input matInput type="number" [formControl]="scopeone" />
          <mat-error *ngIf="scopeone.hasError('required')">{{"scopeOne" | translate}} <strong>{{'isRequired' | translate}}</strong></mat-error>
        </mat-form-field>

        <mat-form-field [style.width]='20'>
          <mat-label>{{"scopeTwo" | translate}}</mat-label>
          <input matInput type="number" [formControl]="scopetwo" />
          <mat-error *ngIf="scopetwo.hasError('required')">{{'scopeTwo' | translate}} <strong>{{'isRequired' | translate}}</strong></mat-error>
        </mat-form-field>
      </section> -->

      <button mat-raised-button color="primary" type="submit" [disabled]="!emissionForm.valid">ADD</button>
    </mat-card>
  </form>
  <div style="margin-left: auto; margin-right: auto"><span id="postFeedback"></span></div>


<article >
  <div></div>
  <button class="button-remove-rows" mat-button (click)="removeSelectedRows()">Remove selected Rows</button>
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="dataSource else noDataFoundYet">
    <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
      <mat-header-cell *matHeaderCellDef [ngSwitch]="col.key">
          <span *ngSwitchCase="'isSelected'">
             <!--  <mat-checkbox
                  (change)="selectAll($event)"
                  [checked]="isAllSelected()"
                  [indeterminate]="!isAllSelected() && isAnySelected()">
              </mat-checkbox> -->
          </span>
          <ng-container [ngSwitch]="col.key">
            <span *ngSwitchCase="'jan'">
              {{ col.label }}
            </span>
            <span *ngSwitchCase="'feb'">
              {{ col.label }}
            </span>
            <span *ngSwitchCase="'mar'">
              {{ col.label }}
            </span>
            <span *ngSwitchCase="'apr'">
              {{ col.label }}
            </span>
            <span *ngSwitchCase="'may'">
              {{ col.label }}
            </span>
            <span *ngSwitchCase="'jun'">
              {{ col.label }}
            </span>
            <span *ngSwitchCase="'jul'">
              {{ col.label }}
            </span>
            <span *ngSwitchCase="'aug'">
              {{ col.label }}
            </span>
            <span *ngSwitchCase="'sep'">
              {{ col.label }}
            </span>
            <span *ngSwitchCase="'oct'">
              {{ col.label }}
            </span>
            <span *ngSwitchCase="'nov'">
              {{ col.label }}
            </span>
            <span *ngSwitchCase="'dec'">
              {{ col.label }}
            </span>
          </ng-container>
          <!-- <span *ngSwitchDefault>{{ col.label }}</span> -->
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
          <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
            <ng-container *ngSwitchCase="'isSelected'">
                <mat-checkbox
                  (change)="element.isSelected = $event.checked"
                  [checked]="element.isSelected">
                </mat-checkbox>
            </ng-container>
            <ng-container *ngSwitchCase="'isEdit'">
              <button mat-icon-button (click)="element.isEdit = !element.isEdit"
                class="material-icons app-toolbar-menu save-button"
                matTooltip="Edit"><i class="fa-solid fa-pencil fa-xs" style="color: #365446;"></i>
              </button>
              <button mat-icon-button class="material-icons app-toolbar-menu delete-button" (click)="removeRow(element.Id)"
                matTooltip="Delete"><i class="fa-solid fa-trash fa-xs" style="color: #365446;"></i>
              </button>
            </ng-container>
          </div>
          <ng-container [ngSwitch]="col.key">
            <span *ngSwitchCase="'delegation'" ngClass="small-data">{{ element[col.key] }}</span>
            <span *ngSwitchCase="'year'" ngClass="small-data">{{ element[col.key] }}</span>
            <span *ngSwitchCase="'jan'" ngClass="small-data">{{ element[col.key] }}</span>
            <span *ngSwitchCase="'feb'" ngClass="small-data">{{ element[col.key] }}</span>
            <span *ngSwitchCase="'mar'" ngClass="small-data">{{ element[col.key] }}</span>
            <span *ngSwitchCase="'apr'" ngClass="small-data">{{ element[col.key] }}</span>
            <span *ngSwitchCase="'may'" ngClass="small-data">{{ element[col.key] }}</span>
            <span *ngSwitchCase="'jun'" ngClass="small-data">{{ element[col.key] }}</span>
            <span *ngSwitchCase="'jul'" ngClass="small-data">{{ element[col.key] }}</span>
            <span *ngSwitchCase="'aug'" ngClass="small-data">{{ element[col.key] }}</span>
            <span *ngSwitchCase="'sep'" ngClass="small-data">{{ element[col.key] }}</span>
            <span *ngSwitchCase="'oct'" ngClass="small-data">{{ element[col.key] }}</span>
            <span *ngSwitchCase="'nov'" ngClass="small-data">{{ element[col.key] }}</span>
            <span *ngSwitchCase="'dec'" ngClass="small-data">{{ element[col.key] }}</span>
          </ng-container>

          <div [ngSwitch]="col.type" *ngIf="element.isEdit">
            <div class="btn-edit" *ngSwitchCase="'isEdit'">
              <button mat-button (click)="editRow(element)" [disabled]="valid[element.Id] === false"><i class="fa-solid fa-check fa-xs" style="color: #5ce500;"></i></button>
            </div>
            <input *ngSwitchCase="'number'" [type]="col.type" [(ngModel)]="element[col.key]" ngClass="small-data-input" [style.width.px]='50'/><br>
          </div>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="columnsDisplayed"></mat-header-row>
    <mat-row *matRowDef="let row; columns: columnsDisplayed;"></mat-row>
  </mat-table>
  <div class="loader" *ngIf="!dataSource">No records found yet...</div>
</article>
<ng-template #noDataFoundYet>
  <span class="loader">No data found yet...</span>
</ng-template>
</div>

