<div class="container-form">
    <h1>{{'myObjectivesDetail' | translate}}</h1>
     <form
      *ngIf = "objectiveForm"
      [formGroup] = "objectiveForm"
      (ngSubmit) = "addRow()">
      <mat-card [class.mat-elevation-z8]="">

        <section>
          <mat-form-field appearance="outline" [style.width.px]='480'>
            <mat-label>{{'delegation' | translate}}</mat-label>
            <mat-select [formControl]="delegation">
              <mat-option *ngFor="let delegation of delegations" [value]="delegation.companyDelegationId">
                {{delegation.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="delegation.hasError('required')">{{'delegation' | translate}} <strong>{{'isRequired' | translate}}</strong></mat-error>
          </mat-form-field>
        </section>

        <section>
            <mat-form-field appearance="outline" [style.width.px]='480'>
              <mat-label>{{'year' | translate}}</mat-label>
              <mat-select [formControl]="yearObjective">
                <mat-option value="2019">2019</mat-option>
                <mat-option value="2020">2020</mat-option>
                <mat-option value="2021">2021</mat-option>
                <mat-option value="2022">2022</mat-option>
                <mat-option value="2023">2023</mat-option>
                <mat-option value="2024">2024</mat-option>
                <mat-option value="2025">2025</mat-option>
              </mat-select>
              <mat-error *ngIf="yearObjective.hasError('required')">{{'year' | translate}} <strong>{{'isRequired' | translate}}</strong></mat-error>
            </mat-form-field>
        </section>

        <section>
         <mat-form-field appearance="outline" [style.width.px]='480'>
              <mat-label>{{'activityData' | translate}}</mat-label>
              <mat-select [formControl]="environmentalData">
                <mat-option *ngFor="let environmentalData of environmentalDataList" [value]="environmentalData">
                  {{environmentalData.nameES}}
                </mat-option>
              </mat-select>
             <!--  <mat-error *ngIf="enviromentalData.hasError('required')">{{'activityData' | translate}} <strong>{{'isRequired' | translate}}</strong></mat-error> -->
            </mat-form-field>
        </section>

        <section>
          <mat-radio-group aria-label="Select an option" [formControl]="objectiveType">
            <mat-label>{{'selectObjectiveType' | translate}}:</mat-label><br>
            <mat-radio-button value="billing" name="objectiveType" value="Billing">Por facturación</mat-radio-button>
            <mat-radio-button value="cnae" name="objectiveType" value="{{currentActivityIndicator}}">Por CNAE  <mat-chip>{{currentActivityIndicator}}</mat-chip></mat-radio-button>
          </mat-radio-group>
        </section>

        <!--  <h2>Objetivo por CNAE <small>[Current Activity Indicator {{currentActivityIndicator}}]</small></h2> -->
        <!--  <section>
            <h2>Objetivo por CNAE <small>[Current Activity Indicator {{currentActivityIndicator}}]</small></h2>
            <mat-form-field appearance="outline" [style.width.px]='80'>
                <mat-label>{{'january' | translate}}</mat-label>
                <input matInput type="number" (blur)="copyCnaeMonthValue(genCnae.value)" [formControl]="genCnae" matTooltip="We'll use this value to ..."/>
            </mat-form-field>
            <mat-form-field appearance="outline" [style.width.px]='80'>
                <mat-label>{{'february' | translate}}</mat-label>
                <input matInput type="number" [formControl]="febCnae" matTooltip="We'll use this value to ..."/>
            </mat-form-field>
            <mat-form-field appearance="outline" [style.width.px]='80'>
                <mat-label>{{'march' | translate}}</mat-label>
                <input matInput type="number" [formControl]="marCnae" matTooltip="We'll use this value to ..."/>
            </mat-form-field>
            <mat-form-field appearance="outline" [style.width.px]='80'>
                <mat-label>{{'april' | translate}}</mat-label>
                <input matInput type="number" [formControl]="aprCnae" matTooltip="We'll use this value to ..."/>
            </mat-form-field>
            <mat-form-field appearance="outline" [style.width.px]='80'>
                <mat-label>{{'may' | translate}}</mat-label>
                <input matInput type="number" [formControl]="mayCnae" matTooltip="We'll use this value to ..."/>
            </mat-form-field>
            <mat-form-field appearance="outline" [style.width.px]='80'>
                <mat-label>{{'june' | translate}}</mat-label>
                <input matInput type="number" [formControl]="junCnae" matTooltip="We'll use this value to ..."/>
            </mat-form-field><br>
            <mat-form-field appearance="outline" [style.width.px]='80'>
                <mat-label>{{'july' | translate}}</mat-label>
                <input matInput type="number" [formControl]="julCnae" matTooltip="We'll use this value to ..."/>
            </mat-form-field>
            <mat-form-field appearance="outline" [style.width.px]='80'>
                <mat-label>{{'august' | translate}}</mat-label>
                <input matInput type="number" [formControl]="augCnae" matTooltip="We'll use this value to ..."/>
            </mat-form-field>
            <mat-form-field appearance="outline" [style.width.px]='80'>
                <mat-label>{{'september' | translate}}</mat-label>
                <input matInput type="number" [formControl]="sepCnae" matTooltip="We'll use this value to ..."/>
            </mat-form-field>
            <mat-form-field appearance="outline" [style.width.px]='80'>
                <mat-label>{{'october' | translate}}</mat-label>
                <input matInput type="number" [formControl]="octCnae" matTooltip="We'll use this value to ..."/>
            </mat-form-field>
            <mat-form-field appearance="outline" [style.width.px]='80'>
                <mat-label>{{'november' | translate}}</mat-label>
                <input matInput type="number" [formControl]="novCnae" matTooltip="We'll use this value to ..."/>
            </mat-form-field>
            <mat-form-field appearance="outline" [style.width.px]='80'>
                <mat-label>{{'december' | translate}}</mat-label>
                <input matInput type="number" [formControl]="decCnae" matTooltip="We'll use this value to ..."/>
            </mat-form-field>
        </section> -->

        <!--    <section>
            <h2>Objetivo de facturación (€)</h2>
            <mat-form-field appearance="outline" [style.width.px]='80'>
                <mat-label>{{'january' | translate}}</mat-label>
                <input matInput type="number" (blur)="copyBillingMonthValue(genBill.value)" [formControl]="genBill" matTooltip="We'll use this value to ..."/>
            </mat-form-field>
            <mat-form-field appearance="outline" [style.width.px]='80'>
                <mat-label>{{'february' | translate}}</mat-label>
                <input matInput type="number" [formControl]="genBill" matTooltip="We'll use this value to ..."/>
            </mat-form-field>
            <mat-form-field appearance="outline" [style.width.px]='80'>
                <mat-label>{{'march' | translate}}</mat-label>
                <input matInput type="number" [formControl]="genBill" matTooltip="We'll use this value to ..."/>
            </mat-form-field>
            <mat-form-field appearance="outline" [style.width.px]='80'>
                <mat-label>{{'april' | translate}}</mat-label>
                <input matInput type="number" [formControl]="genBill" matTooltip="We'll use this value to ..."/>
            </mat-form-field>
            <mat-form-field appearance="outline" [style.width.px]='80'>
                <mat-label>{{'may' | translate}}</mat-label>
                <input matInput type="number" [formControl]="genBill" matTooltip="We'll use this value to ..."/>
            </mat-form-field>
            <mat-form-field appearance="outline" [style.width.px]='80'>
                <mat-label>{{'june' | translate}}</mat-label>
                <input matInput type="number" [formControl]="genBill" matTooltip="We'll use this value to ..."/>
            </mat-form-field><br>
            <mat-form-field appearance="outline" [style.width.px]='80'>
                <mat-label>{{'july' | translate}}</mat-label>
                <input matInput type="number" [formControl]="genBill" matTooltip="We'll use this value to ..."/>
            </mat-form-field>
            <mat-form-field appearance="outline" [style.width.px]='80'>
                <mat-label>{{'august' | translate}}</mat-label>
                <input matInput type="number" [formControl]="genBill" matTooltip="We'll use this value to ..."/>
            </mat-form-field>
            <mat-form-field appearance="outline" [style.width.px]='80'>
                <mat-label>{{'september' | translate}}</mat-label>
                <input matInput type="number" [formControl]="genBill" matTooltip="We'll use this value to ..."/>
            </mat-form-field>
            <mat-form-field appearance="outline" [style.width.px]='80'>
                <mat-label>{{'october' | translate}}</mat-label>
                <input matInput type="number" [formControl]="genBill" matTooltip="We'll use this value to ..."/>
            </mat-form-field>
            <mat-form-field appearance="outline" [style.width.px]='80'>
                <mat-label>{{'november' | translate}}</mat-label>
                <input matInput type="number" [formControl]="genBill" matTooltip="We'll use this value to ..."/>
            </mat-form-field>
            <mat-form-field appearance="outline" [style.width.px]='80'>
                <mat-label>{{'december' | translate}}</mat-label>
                <input matInput type="number" [formControl]="genBill" matTooltip="We'll use this value to ..."/>
            </mat-form-field>
        </section>  -->

        <button mat-raised-button color="primary" type="submit" [disabled]="!objectiveForm.valid">ADD</button>

      </mat-card>
    </form>
    <div style="margin-left: auto; margin-right: auto"><span id="postFeedback"></span></div>


      <article>
        <div></div>
        <button class="button-remove-rows" mat-button (click)="removeSelectedRows()">Remove selected Rows</button>
        <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
          <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
            <mat-header-cell *matHeaderCellDef [ngSwitch]="col.key">
                <span *ngSwitchCase="'isSelected'">
                   <!--  <mat-checkbox
                        (change)="selectAll($event)"
                        [checked]="isAllSelected()"
                        [indeterminate]="!isAllSelected() && isAnySelected()">
                    </mat-checkbox> -->
                </span>
                <span *ngSwitchDefault>{{ col.label }}</span>
            </mat-header-cell>
            <mat-cell *matCellDef="let element">
                <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
                    <ng-container *ngSwitchCase="'isSelected'">
                      <mat-checkbox
                        (change)="element.isSelected = $event.checked"
                        [checked]="element.isSelected">
                      </mat-checkbox>
                    </ng-container>
                  <div class="btn-edit" *ngSwitchCase="'isEdit'">
                    <button mat-icon-button (click)="element.isEdit = !element.isEdit"
                      class="material-icons app-toolbar-menu save-button"
                      matTooltip="Edit" color="primary"><mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button class="material-icons app-toolbar-menu delete-button" (click)="removeRow(element.Id)"
                      matTooltip="Delete" color="warn"><mat-icon>delete</mat-icon>
                    </button>
                  </div>
                  <span *ngSwitchDefault ngClass="small-data">
                    {{ element[col.key] }}
                  </span>
                </div>

                <div [ngSwitch]="col.type" *ngIf="element.isEdit">
                  <div class="btn-edit" *ngSwitchCase="'isEdit'">
                    <button mat-button (click)="editRow(element)" [disabled]="valid[element.Id] === false">Done</button>
                  </div>
                  <span *ngSwitchCase="'isSelected'" ngClass="small-data">
                    {{element[col.key]}}
                  </span>

                  <span *ngSwitchCase="'text'" ngClass="small-data">
                    {{element[col.key]}}
                  </span>

                  <input *ngSwitchCase="'number'" [type]="col.type" [(ngModel)]="element[col.key]" ngClass="small-data" [style.width.px]='75'/>
                </div>
            </mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="columnsDisplayed"></mat-header-row>
          <mat-row *matRowDef="let row; columns: columnsDisplayed;"></mat-row>
        </mat-table>
      </article>
</div>
