.graph-container {
  display: grid;
  grid-template-columns: 1fr;
  margin: 1rem;
}

.energy {
  grid-area: "energy";
  border: 1px solid green;
  padding: 1rem;
  border-radius: .5rem;
  max-width: 1200px;
  margin: auto;
}