<h1>Edit</h1>

<form [formGroup]="editForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="fill">
    <mat-label>sector</mat-label>
    <input matInput formControlName="sector" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>subsector</mat-label>
    <input matInput formControlName="subsector" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>cnaeCode</mat-label>
    <input matInput formControlName="cnaeCode" required minlength="4" maxlength="4">
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>activityIndicator</mat-label>
    <input matInput formControlName="activityIndicator" required>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>emissionIndicator</mat-label>
    <input matInput formControlName="emissionIndicator" required>
  </mat-form-field>    

  <button mat-raised-button color="primary" type="submit" [disabled]="editForm.invalid">Submit</button>
</form>

