
<div class="container">
  <div *ngFor="let consumption of consumptions" class="card">
    <!-- <h3>AspectoId: <b>{{ consumption.aspectId }}</b></h3> -->
    <h3>Aspect: <strong>{{ consumption.aspectES }}</strong></h3>
    <h4 *ngIf="consumption.aspectId == 1">Energy type: <strong>{{ consumption.energyES }}</strong></h4>
    <h4 *ngIf="consumption.aspectId == 3">Residue type: <strong>{{ consumption.residueES }}</strong></h4>

    <p>Quantity: {{ consumption.quantity }} </p>
    <p *ngIf="consumption.aspectId == 3">Reuse: <strong>{{ consumption.reuse }}</strong> %</p>
    <p *ngIf="consumption.aspectId == 3">Recycling: <strong>{{ consumption.recycling }}</strong> %</p>
    <p *ngIf="consumption.aspectId == 3">Incineration: <strong>{{ consumption.incineration }}</strong> %</p>
    <p *ngIf="consumption.aspectId == 3">Dump: <strong>{{ consumption.dump }}</strong> %</p>
    <p *ngIf="consumption.aspectId == 3">Compost: <strong>{{ consumption.compost }}</strong> %</p>


    <p>From date: {{ consumption.fromDate| formatDate: 3 }}</p>
    <p>To date: {{ consumption.toDate| formatDate: 3 }}</p>
    <div *ngIf="showButtons">
      <p>CompanyId: {{ consumption.companyId }}</p>
    </div>

    <p>Added when: {{ consumption.createAt }}</p>

    <div *ngIf="showButtons">
      <button mat-icon-button color="accent" matTooltip="Update this consumption"
      aria-label="Button that displays a tooltip and updates this consumption" (click)="updatePost(consumption.consumptionId)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" matTooltip="Permanently delete this consumption"
      aria-label="Button that displays a tooltip and permanently deletes this consumption" (click)="deletePost(consumption.consumptionId)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
