@use '../../../styles/typography/config' as config;

.container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 2px 16px;
}

.badge {
  color: black;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 10px;
  padding: 5px 10px;
}

@media only screen and (max-width: config.$app-break-point) {

  .container {
    grid-template-columns: auto;
  }

  .has-to-be-shown {
      display: none;
  }
  .not-has-to-be-shown {
      display: block;
  }
}
