@use "../../../styles/themes/ils-theme" as theme;

.container-form {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
  margin: auto;
  padding-top: 8rem;
  padding-bottom: 4rem;
  padding-left: 30%;
  padding-right: 30%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
h1{
  font-weight: bolder;
  color: #365446;
}
span,a, app-select-language {
  text-align: center;
}

a:hover {
  font-weight: bolder;
  text-decoration: none;
}

@media only screen and (max-width: theme.$app-break-point) {

  .container-form {
    grid-template-columns: auto;
    padding: 2rem;
    position: inherit;
    transform: none;
  }

  .has-to-be-shown {
      display: none;
  }
  .not-has-to-be-shown {
      display: block;
  }
}
