
<div class="container-form">
 <p>
  La herramienta de industria local sostenible es una solución integral para promover prácticas 
  respetuosas con el medio ambiente en el sector industrial de las Islas Baleares. </p>
  <p>Nuestra plataforma proporciona recursos para que las empresas locales puedan implementar medidas 
  sostenibles, reducir su impacto ambiental y contribuir al desarrollo sostenible de la comunidad.</p>
  <p>Con nuestra herramienta, las empresas pueden acceder a información actualizada, mejores prácticas y 
  casos de éxito en sostenibilidad, ayudándolas a avanzar hacia un futuro más verde y próspero.
 </p>
 
 <a [routerLink]="['/login']" routerLinkActive="active" ariaCurrentWhenActive="page">Log in</a>
 <span>¿Aún no tiene acceso?</span>
 <a [routerLink]="['/register']" routerLinkActive="active" ariaCurrentWhenActive="page">Sign Up</a>
</div>
