<h2>Your Company activity data:</h2>

<div  class="mat-elevation-z8">
<mat-table *ngIf="!isGridView" [dataSource]="consumptions">
  <ng-container matColumnDef="delegation">
    <mat-header-cell *matHeaderCellDef>Delegation</mat-header-cell>
    <mat-cell *matCellDef="let consumption">{{consumption.delegation}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="aspect">
    <mat-header-cell *matHeaderCellDef>Aspect</mat-header-cell>
    <mat-cell *matCellDef="let consumption">{{consumption.aspectES}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="energy">
    <mat-header-cell *matHeaderCellDef>Energy</mat-header-cell>
    <mat-cell *matCellDef="let consumption">{{consumption.energyES}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="residue">
    <mat-header-cell *matHeaderCellDef>Residue</mat-header-cell>
    <mat-cell *matCellDef="let consumption">{{consumption.residueES}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="quantity">
    <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
    <mat-cell *matCellDef="let consumption">{{consumption.quantity}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="fromDate">
    <mat-header-cell *matHeaderCellDef>from Date</mat-header-cell>
    <mat-cell *matCellDef="let consumption" matTooltip={{consumption.fromDate}}>{{consumption.fromDate}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="toDate">
    <mat-header-cell *matHeaderCellDef>to Date</mat-header-cell>
    <mat-cell *matCellDef="let consumption" matTooltip={{consumption.toDate}}>{{consumption.toDate}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="ACTIONS">
    <mat-header-cell *matHeaderCellDef> ACTIONS <button mat-mini-fab color="primary" matTooltip="Add an indicator" aria-label="Add indicator" (click)="createPost()">
      <mat-icon>add</mat-icon>
    </button></mat-header-cell>
    <mat-cell *matCellDef="let consumption">
      <button mat-icon-button color="accent" matTooltip="Update this indicator"
      aria-label="Updates this indicator" (click)="updatePost(consumption.consumptionId)">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" matTooltip="Permanently delete this indicator"
      aria-label="Permanently deletes this indicator" (click)="deletePost(consumption.consumptionId)">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="columnsDisplayed"></mat-header-row>
  <mat-row *matRowDef="let item; columns: columnsDisplayed;" class="animate__animated animate__fadeInLeft"></mat-row>
</mat-table>

<div *ngIf="isGridView" >
  <button mat-mini-fab color="primary" matTooltip="Add an residue" aria-label="Add residue" (click)="createPost()">
    <mat-icon>add</mat-icon>
  </button>
  <div *ngFor="let consumption of consumptions" class="card">
    <h3>Aspect: <strong>{{ consumption.aspectES }}</strong></h3>
    <h4 *ngIf="consumption.aspectId == 1">Energy type: <strong>{{ consumption.energyES }}</strong></h4>
    <h4 *ngIf="consumption.aspectId == 3">Residue type: <strong>{{ consumption.residueES }}</strong></h4>

    <p>Quantity: {{ consumption.quantity }} </p>
    <p *ngIf="consumption.aspectId == 3">Reuse: <strong>{{ consumption.reuse }}</strong> %</p>
    <p *ngIf="consumption.aspectId == 3">Recycling: <strong>{{ consumption.recycling }}</strong> %</p>
    <p *ngIf="consumption.aspectId == 3">Incineration: <strong>{{ consumption.incineration }}</strong> %</p>
    <p *ngIf="consumption.aspectId == 3">Dump: <strong>{{ consumption.dump }}</strong> %</p>
    <p *ngIf="consumption.aspectId == 3">Compost: <strong>{{ consumption.compost }}</strong> %</p>


    <p>From date: {{ consumption.fromDate| formatDate: 3 }}</p>
    <p>To date: {{ consumption.toDate| formatDate: 3 }}</p>
    <div *ngIf="showButtons">
      <p>Delegation: {{ consumption.delegation }}</p>
    </div>

    <p>Added when: {{ consumption.created_at }}</p>
    <div *ngIf="showButtons">
<!--         <button mat-icon-button color="accent" matTooltip="Update this residue"
      aria-label="Button that displays a tooltip and updates this residue" (click)="updateResidue(+residue.residueId)">
        <mat-icon>edit</mat-icon>
      </button> -->
      <button mat-icon-button color="warn" matTooltip="Permanently delete this activity"
      aria-label="Permanently deletes this residue" (click)="deletePost(consumption.consumptionId)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
<!-- </div> -->
</div>



<mat-paginator #paginator [pageSizeOptions]="[5, 10, 20]"
  showFirstLastButtons
  aria-label="Select page of indicators elements">
</mat-paginator>
</div>

<div class="loader" *ngIf="!consumptions">No records found yet...</div>
