.content-outer-container{
  min-height: 94vh;
  border: 1px solid #365446;
}

.content-inner-container{
  padding-bottom: 25px;
}

footer{
  background-color:#365446;
  color: #fff;
  padding: 1rem;
  height: 25px;
  margin-top: -25px;
  z-index: -1;
}

.footer-content {
  margin: 0 auto;
  text-align: center;
}