.content-outer-container{
  min-height: 100vh;
  border: 1px solid #365446;
}

.content-inner-container{
  padding-bottom: 36px;
}

footer{
  background-color:#365446;
  color: #fff;
  padding: 1rem;
  height: 24px;
  margin-top: -36px;
}

.footer-content {
  margin: 0 auto;
  text-align: center;
}