  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
    <mat-tab label="{{'energy' | translate}}">
    <div class="container-form" [@fadeInOut] >
      <h1>{{'energyConsumption' | translate}}</h1>
      <form
        *ngIf="energyForm"
        [formGroup]="energyForm"
        (ngSubmit)="saveForm()">

        <mat-card [class.mat-elevation-z8]="isElevated">

          <section>
            <mat-form-field [style.width.px]=327>
              <mat-label>{{'delegation' | translate}}</mat-label>
              <mat-select [formControl]="delegation">
                <mat-option *ngFor="let delegation of delegations" [value]="delegation.companyDelegationId">
                  {{delegation.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="delegation.hasError('required')">{{'delegation' | translate}} <strong>{{'isRequired' | translate}}</strong></mat-error>
            </mat-form-field>
          </section>

          <section>
            <mat-form-field [style.width.px]=327>
              <mat-label>{{'energyType' | translate}}</mat-label>
              <mat-select [formControl]="energy">
                <mat-option *ngFor="let energy of energies" [value]="energy.energyId">
                  {{energy.nameES}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="energy.hasError('required')">{{'energyType' | translate}} <strong>{{'isRequired' | translate}}</strong></mat-error>
            </mat-form-field>
          </section>

          <section>
            <mat-form-field [style.width.px]=327>
              <mat-label>{{'monthAndYear' | translate}}</mat-label>
              <input matInput type="text" maxlength="7" minlength="7" [formControl]="monthYearDate" pattern="[0-9]{2}\/[0-9]{4}">
              <mat-hint>MM/YYYY</mat-hint>
              <mat-error *ngIf="monthYearDate.hasError('required')">{{'monthAndYear' | translate}} <strong>{{'isRequired' | translate}}</strong></mat-error>
              <mat-error *ngIf="monthYearDate.errors?.min">Minimum required number is 01.</mat-error> 
              <mat-error *ngIf="monthYearDate.errors?.max">Maximum number can be 12.</mat-error>
              <mat-error *ngIf="monthYearDate.errors?.pattern">No tiene el formato adecuado: MM/AAAA.</mat-error>
            </mat-form-field>
          </section>

          <section>
            <mat-form-field [style.width.px]=327>
              <mat-label>{{'quantity' | translate}}</mat-label>
              <input matInput type="number" [formControl]="quantity" />
              <mat-error *ngIf="quantity.hasError('required')">{{'quantity' | translate}} <strong>{{'isRequired' | translate}}</strong></mat-error>
            </mat-form-field>
          </section>

          <button mat-raised-button color="primary" type="submit" [disabled]="!energyForm.valid">ADD</button>

        </mat-card>
      </form>
      <div style="margin-left: auto; margin-right: auto">
        <span id="postFeedback"></span>
      </div>
    </div>

    <h2>{{'consumptionList' | translate}}</h2>
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search columns" #input>
    </mat-form-field>
    <table *ngIf="!isGridView" mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort
    #energyTbSort="matSort">
      <ng-container matColumnDef="delegation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'delegation' | translate}}</th>
        <td mat-cell *matCellDef="let consumption">{{consumption.delegation}}</td>
      </ng-container>
      <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'year' | translate}}</th>
        <td mat-cell *matCellDef="let consumption">{{consumption.year}}</td>
      </ng-container>
      <ng-container matColumnDef="energy">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'energyType' | translate}}</th>
        <td mat-cell *matCellDef="let consumption" matTooltip="{{consumption.energyES}}"><small>{{consumption.energyES}}</small></td>
      </ng-container>
      <ng-container matColumnDef="enero">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Enero</th>
        <td mat-cell *matCellDef="let consumption" matTooltip={{consumption.jan}}>{{+consumption.jan}}</td>
      </ng-container>
      <ng-container matColumnDef="febrero">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Febrero</th>
        <td mat-cell *matCellDef="let consumption" matTooltip={{consumption.feb}}>{{consumption.feb}}</td>
      </ng-container>
      <ng-container matColumnDef="marzo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Marzo</th>
        <td mat-cell *matCellDef="let consumption" matTooltip={{consumption.mar}}>{{consumption.mar}}</td>
      </ng-container>
      <ng-container matColumnDef="abril">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Abril</th>
        <td mat-cell *matCellDef="let consumption" matTooltip={{consumption.apr}}>{{consumption.apr}}</td>
      </ng-container>
      <ng-container matColumnDef="mayo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Mayo</th>
        <td mat-cell *matCellDef="let consumption" matTooltip={{consumption.may}}>{{consumption.may}}</td>
      </ng-container>
      <ng-container matColumnDef="junio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Junio</th>
        <td mat-cell *matCellDef="let consumption" matTooltip={{consumption.jun}}>{{consumption.jun}}</td>
      </ng-container>
      <ng-container matColumnDef="julio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Julio</th>
        <td mat-cell *matCellDef="let consumption" matTooltip={{consumption.jul}}>{{consumption.jul}}</td>
      </ng-container>
      <ng-container matColumnDef="agosto">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Agosto</th>
        <td mat-cell *matCellDef="let consumption" matTooltip={{consumption.aug}}>{{consumption.aug}}</td>
      </ng-container>
      <ng-container matColumnDef="setiembre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Setiembre</th>
        <td mat-cell *matCellDef="let consumption" matTooltip={{consumption.sep}}>{{consumption.sep}}</td>
      </ng-container>
      <ng-container matColumnDef="octubre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Octubre</th>
        <td mat-cell *matCellDef="let consumption" matTooltip={{consumption.oct}}>{{consumption.oct}}</td>
      </ng-container>
      <ng-container matColumnDef="noviembre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Noviembre</th>
        <td mat-cell *matCellDef="let consumption" matTooltip={{consumption.nov}}>{{consumption.nov}}</td>
      </ng-container>
      <ng-container matColumnDef="diciembre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Diciembre</th>
        <td mat-cell *matCellDef="let consumption" matTooltip={{consumption.dec}}>{{consumption.dec}}</td>
      </ng-container>

      <ng-container matColumnDef="ACTIONS">
        <th mat-header-cell *matHeaderCellDef> ACTIONS</th>
        <td mat-cell *matCellDef="let consumption">
       <!--    <button mat-icon-button color="accent" matTooltip="Update this indicator"
          aria-label="Button that displays a tooltip and updates this indicator" (click)="updatePost(consumption.consumptionId)">
            <mat-icon>edit</mat-icon>
          </button> -->
          <button mat-icon-button color="warn" matTooltip="Permanently delete this indicator"
          aria-label="Button that displays a tooltip and permanently deletes this indicator" (click)="deleteEnergyConsumption(consumption.consumptionId)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsDisplayed"></tr>
      <tr mat-row *matRowDef="let item; columns: columnsDisplayed;" class="animate__animated animate__fadeInLeft"></tr>
    </table>

    <div class="loader" *ngIf="!consumptions">No records found yet...</div>

  </mat-tab>

  <mat-tab label="{{'water' | translate}}">
    <app-water-form></app-water-form>
  </mat-tab>

  <mat-tab label="{{'residue' | translate}}">
    <app-residue-form></app-residue-form>
  </mat-tab>

  <mat-tab label="{{'emissions' | translate}}">
    <app-emission-form></app-emission-form>
  </mat-tab>

</mat-tab-group>
