@use "../../../../styles/typography/config" as config;

.error {
  color: red;
}

#postFeedback {
  visibility: hidden;
  min-width: 250px;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  padding: 16px;
  z-index: 1;
  font-size: 14px;
  margin-left: auto;
  margin-right: auto;
}

#postFeedback.requestOk {
  background-color: green;
}

#postFeedback.requestKo {
  background-color: red;
}

#postFeedback.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.btn-edit{
  display: grid;
  grid-template-columns: 50% 50%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
  border: none transparent;
outline: none;
}

.small-data {
  font-size: .6rem;
}

.small-data-input {
  font-size: .6rem;
  background-color: #fff;
  border: 2px solid #679da9!important;
  border-radius: .2rem;
}

mat-header-row{
  background-color: #424242;
}

mat-header-cell {
  color: white;
  font-size: .6rem;
}

mat-cell{
  background-color: #919191;
}

.mat-column-isSelected{
  word-wrap:break-word;
  max-width:3.5rem;
}

.mat-column-delegation{
  word-wrap:break-word;
}

.mat-column-year{
  max-width:3rem;
}

.mat-column-energyES{
  word-wrap:break-word;
}

.mat-column-isEdit{
  padding-right: 3rem;
}
