<div class="container-form">
    <h1>Vectores</h1>
    <form *ngIf="vectorForm" [formGroup]="vectorForm" (ngSubmit)="createVector()">
        <mat-card [class.mat-elevation-z8]="isElevated">
            <section>
                <mat-form-field [style.width.px]=305 style="margin-right: 20px;">
                    <mat-label>{{'name_es' | translate}}</mat-label>
                    <input matInput type="text" formControlName="name_es"/>
                    <mat-error *ngIf="vectorForm.get('name_es').hasError('required')">{{'name_es' | translate}} <strong>{{'isRequired' | translate}}</strong></mat-error>
                </mat-form-field>
                <mat-form-field [style.width.px]=305 style="margin-left: 20px;">
                    <mat-label>{{'name_ca' | translate}}</mat-label>
                    <input matInput type="text" formControlName="name_ca"/>
                    <mat-error *ngIf="vectorForm.get('name_ca').hasError('required')">{{'name_ca' | translate}} <strong>{{'isRequired' | translate}}</strong></mat-error>
                </mat-form-field>
            </section>
            <section>
                <mat-form-field [style.width.px]=650>
                    <mat-label>{{'general_regulations' | translate}}</mat-label>
                    <mat-select formControlName="general_regulations" multiple>
                        <mat-option *ngFor="let normative of normativeTexts" [value]="normative.regId">{{normative.regId}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </section>
            <button mat-raised-button color="primary" type="submit" [disabled]="!vectorForm.valid">ADD</button>
        </mat-card>
    </form>
    <div></div>
    <div class="form-filter">
        <mat-form-field class="item1">
            <mat-label>{{'filterByColumn' | translate}}</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Search columns" #input>
        </mat-form-field>
    </div>

    <mat-paginator [pageSizeOptions]="[10, 15, 20, 30]" showFirstLastButtons></mat-paginator>
    <table mat-table *ngIf="dataSource" [dataSource]="dataSource" class="mat-elevation-z8" matSort>
        <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
            <mat-header-cell *matHeaderCellDef [ngSwitch]="col.key">
                <span *ngSwitchCase="'isEdit'"></span>
                <span *ngSwitchDefault>{{col.key | translate}}</span>
            </mat-header-cell>
            <mat-cell *matCellDef="let element">

                <!-- Tabla por defecto -->
                <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
                    <span *ngSwitchCase="'scope'" ngClass="small-data">{{element[col.key]}}</span>
                    <a *ngSwitchCase="'url'" ngClass="small-data" href="" title="">{{element[col.key]}}</a>
                    <span *ngSwitchDefault ngClass="small-data">{{ element[col.key] }}</span>
                    <div class="btn-edit" *ngSwitchCase="'isEdit'">
                        <button mat-icon-button (click)="element.isEdit = !element.isEdit" class="material-icons app-toolbar-menu save-button" matTooltip="Edit" color="accent"><mat-icon>edit</mat-icon></button>
                        <button mat-icon-button class="material-icons app-toolbar-menu delete-button" (click)="removeRow(element.id)" matTooltip="Delete" color="warn"><mat-icon>delete</mat-icon></button>
                    </div>
                </div>

                <!-- Editando elemento-->
                <div [ngSwitch]="col.type" *ngIf="element.isEdit">
                    <input *ngSwitchCase="'url'" type="text" [(ngModel)]="element[col.key]" ngClass="url-edition-format small-data-input" required/>
                    <mat-select *ngSwitchCase="'select'" [(ngModel)]="element[col.key]" ngClass="select-scope" multiple>
                        <mat-option *ngFor="let normative of normativeTexts" [value]="normative.regId">{{normative.regId}}</mat-option>
                    </mat-select>
                    <input *ngSwitchDefault [(ngModel)]="element[col.key]" ngClass="text-edition-format small-data-input" required/>
                    <div class="btn-edit" *ngSwitchCase="'isEdit'">
                        <button mat-button mat-raised-button color="accent" (click)="updateVector(element)"><mat-icon>done_all</mat-icon></button>
                    </div>
                </div>
            </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="columnsDisplayed"></mat-header-row>
        <mat-row *matRowDef="let row; columns: columnsDisplayed;"></mat-row>
    </table>

</div>