.button-add-row {
  background: #1b9e1b;
  color: #ffffff;
}
.button-add-row {
  background: #1b9e1b;
  color: #ffffff;
}
.button-remove-rows {
  background: red;
  color: #ffffff;
  margin-right: 5px;
}
.button-remove {
  color: red;
}

.btn-edit{
  display: grid;
  grid-template-columns: 50% 50%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.container-vertical-scroll{
  max-height: 5rem;
}

mat-table {
  margin-top: .5rem;
  min-width: 100%;
}

mat-header-row{
  background-color: #424242;
}

mat-header-cell {
  color: #fff;
  font-size: .7rem;
  min-width: 5rem;
}

mat-row{
  background-color: #919191;
  font-size: .2rem;
}

mat-cell {
  min-width: 6rem;
  color: #000;
}