<div style="margin-left: auto; margin-right: auto">
  <p id="loginFeedback"></p>
</div>
<div>

<div class="container-form" [@fadeInOut] >  
  <h1>{{'workSession' | translate}}</h1>
  <form [formGroup]="loginForm" (ngSubmit)="loginObservable()">
    <mat-card [class.mat-elevation-z8]="isElevated">
      <section>
        <mat-form-field [style.width.px]=327>
          <mat-label>{{'Email' | translate}}</mat-label>
          <input matInput type="email" [formControl]="email" required />
          <mat-error *ngIf="email.hasError('pattern')" >{{'Email' | translate}}, {{'InvalidPattern' | translate}}</mat-error>
          <mat-error *ngIf="email.hasError('required')">{{'Email' | translate}} <strong>{{'IsRequired' | translate}}</strong></mat-error>
        </mat-form-field>
      </section>

      <section>
        <mat-form-field [style.width.px]=327>
          <mat-label>{{'Password' | translate}}</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" required />
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="password.hasError('required')">{{'Password' | translate}} <strong>{{'IsRequired' | translate}}</strong></mat-error>
          <mat-error *ngIf="password.hasError('minlength')">{{'Password' | translate}} {{'CharsMin' | translate}} 8 {{'Characters' | translate}}</mat-error>
          <mat-error *ngIf="password.hasError('maxlength')">{{'Password' | translate}} {{'CharsMax' | translate}} 16 {{'Characters' | translate}}</mat-error>
        </mat-form-field>
      </section>

      <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">{{'Aceptar' | translate}}</button>
    </mat-card>
  </form>
  <div style="margin-left: auto; margin-right: auto">
    <span id="loginFeedback"></span>
  </div>
</div>
