<div style="margin-left: auto; margin-right: auto">
  <p id="loginFeedback"></p>
</div>
<div>

<div class="container-form" [@fadeInOut] >  
  <h1>Login</h1>
  <form [formGroup]="loginForm" (ngSubmit)="loginObservable()">
    <mat-card [class.mat-elevation-z8]="isElevated">
      <section>
        <mat-form-field [style.width.px]=327>
          <mat-label>Email</mat-label>
          <input matInput type="email" [formControl]="email" required />
          <mat-error *ngIf="email.hasError('pattern')" >Email not a valid format</mat-error>
          <mat-error *ngIf="email.hasError('required')">Email <strong>is required</strong></mat-error>
        </mat-form-field>
      </section>

      <section>
        <mat-form-field [style.width.px]=327>
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" [formControl]="password" required />
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
          <mat-error *ngIf="password.hasError('required')">Email <strong>is required</strong></mat-error>
          <mat-error *ngIf="password.hasError('minlength')">Password must be greater than 8 characters</mat-error>
          <mat-error *ngIf="password.hasError('maxlength')">Password must be less than 16 characters</mat-error>
        </mat-form-field>
      </section>

      <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid">Login</button>
    </mat-card>
  </form>
</div>
