section div:nth-child(1), section div:nth-child(3){
  color: #365446;
  font-size: 50px;
  line-height: 65px;
}

section div:nth-child(1){
  margin-top: 70px;
}

section div:nth-child(2){
  width: 50%;
}
