
<div class="container-form" [@fadeInOut] >  
  <h1>{{ 'profile' | translate }}</h1>
  <form [formGroup]="profileForm" (ngSubmit)="updateUser()">
    <mat-card [class.mat-elevation-z8]="isElevated">
      <section>
          <mat-form-field appearance="outline" [style.width.px]=425>
            <mat-label>{{ 'companyName' | translate }}</mat-label>
            <input matInput type="text" readonly [formControl]="name" />
            <mat-error *ngIf="name.hasError('minlength')" >Name must be at least 5 characters long</mat-error>
            <mat-error *ngIf="name.hasError('maxlength')" >Name can be max 100 characters long</mat-error>
            <mat-error *ngIf="name.hasError('required')">name <strong>is required</strong></mat-error>
          </mat-form-field>
      </section>

      <section>
        <mat-form-field appearance="outline" [style.width.px]=425>
          <mat-label>NIF</mat-label>
          <input matInput type="text" readonly [formControl]="nif" />
          <mat-error *ngIf="nif.hasError('minlength')" >nif must be at least 5 characters long</mat-error>
          <mat-error *ngIf="nif.hasError('maxlength')" >nif can be max 8 characters long</mat-error>
          <mat-error *ngIf="nif.hasError('required')">nif <strong>is required</strong></mat-error>
        </mat-form-field>
      </section>

      <section>
        <mat-form-field appearance="outline" [style.width.px]=425>
          <mat-label>{{ 'companyAddress' | translate }}</mat-label>
          <input matInput type="text" readonly [formControl]="domicilio" />
          <mat-error *ngIf="domicilio.hasError('minlength')" >domicilio must be at least 5 characters long</mat-error>
          <mat-error *ngIf="domicilio.hasError('maxlength')" >domicilio can be max 100 characters long</mat-error>
          <mat-error *ngIf="domicilio.hasError('required')">domicilio <strong>is required</strong></mat-error>
        </mat-form-field>
      </section>
  
      <section>
          <mat-form-field appearance="outline" [style.width.px]=425>
            <mat-label>Email</mat-label>
            <input matInput type="email" readonly [formControl]="email" required />
            <mat-error *ngIf="email.hasError('pattern')" >Email not a valid format</mat-error>
            <mat-error *ngIf="email.hasError('required')">Email <strong>is required</strong></mat-error>
          </mat-form-field>
      </section>  
  
      <section>
        <mat-form-field appearance="outline" [style.width.px]=425>
          <mat-label>Localidad</mat-label>
          <input matInput type="text" readonly [formControl]="localidad" />
          <mat-error *ngIf="localidad.hasError('minlength')" >{{'city' | translate}} <strong>{{'charsMin' | translate}}</strong> 8 <strong>{{'characters' | translate}} 8 characters</strong></mat-error>
          <mat-error *ngIf="localidad.hasError('maxlength')" >{{'city' | translate}} <strong>{{'charsMax' | translate}}</strong> 100 <strong>{{'characters' | translate}}</strong></mat-error>
          <mat-error *ngIf="localidad.hasError('required')">{{'city' | translate}} <strong>is required</strong></mat-error>
        </mat-form-field>
      </section>

      <section>
        <mat-form-field appearance="outline" [style.width.px]=425>
          <mat-label>{{'companyCNAE' | translate}}</mat-label>
          <mat-select [formControl]="cnaeSelect" required (selectionChange)='cnaeSelected(cnaeSelect.value)'>
            <mat-option>--</mat-option>
            <mat-option *ngFor="let cnaeItem of cnaeList" [value]="cnaeItem.cnaeCode">
              <small>{{cnaeItem.cnaeCode}}-{{cnaeItem.subsector}}</small>
            </mat-option>
          </mat-select>
          <mat-error *ngIf="cnaeSelect.hasError('required')">CNAE <strong>{{'isRequired' | translate}}</strong></mat-error>
          <mat-hint>{{cnaeSelect.value?.cnaeCode}}</mat-hint>
        </mat-form-field>
      </section>

      <section>
        <mat-form-field appearance="outline" [style.width.px]=425>
          <mat-label>{{'activityIndicator' | translate}}</mat-label>
          <mat-select [formControl]="activityIndicator" required [(value)]="selected" matTooltip="{{'activityIndicatorSelect' | translate}}">
            <mat-option *ngFor="let activityIndicator of enterpriseActivityIndicators" [value]="activityIndicator">
              <small>{{activityIndicator['indicator']}}</small>
            </mat-option>
          </mat-select>
          <mat-error *ngIf="activityIndicator.hasError('required')">CNAE <strong>{{'isRequired' | translate}}</strong></mat-error>
          <mat-hint>{{activityIndicator.value?.cnaeCode}}</mat-hint>
        </mat-form-field>
      </section>

      <button mat-raised-button color="primary" type="submit" [disabled]="!profileForm.valid">Update Company</button>
    </mat-card>
  </form>
  <div style="margin-left: auto; margin-right: auto"><p id="profileFeedback"></p></div>
  <app-delegation></app-delegation>
</div>