// src/styles/typography/_config.scss
@use '@angular/material' as mat;
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,700;1,400&display=swap');

$font-stack: 'Montserrat';
$primary-color: #365446;
$alternate-color: #ffffff;
$app-break-point: 950px;

$table-header-row-color: #424242;
$table-header-cell-color: #919191;

$remove-selected-rows-back-color: #ff0000;
$font-weights: ("regular": 400, "medium": 500, "bold": 700);

.loader {
  width: 100%;
  text-align: center;
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 4rem;
  color: $alternate-color;
  background-color: $primary-color;
}

.mat-mdc-row .mat-mdc-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
  }
  
.mat-mdc-row:hover .mat-mdc-cell {
    border-color: currentColor;
  }

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    border-radius: 10px;
    padding: 1rem;
  }
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }  
  
$heading-font-family: "'Montserrat', sans-serif";
$regular-font-family: "'Inter', sans-serif";

$my-app-typography: mat.define-typography-config(
  $font-family: $regular-font-family,
  $headline-1: mat.define-typography-level($font-family: $heading-font-family, $font-size: 112px),
  $headline-2: mat.define-typography-level($font-family: $heading-font-family, $font-size: 56px),
  $headline-3: mat.define-typography-level($font-family: $heading-font-family, $font-size: 45px, $line-height: 48px),
  $headline-4: mat.define-typography-level($font-family: $heading-font-family, $font-size: 34px, $line-height: 40px),
  $headline-5: mat.define-typography-level($font-family: $heading-font-family, $font-size: 24px, $line-height: 32px),
  $headline-6: mat.define-typography-level($font-family: $heading-font-family, $font-size: 20px, $line-height: 32px),
  $subtitle-1: mat.define-typography-level($font-family: $heading-font-family, $font-size: 18px, $line-height: 28px),
  $subtitle-2: mat.define-typography-level($font-family: $heading-font-family, $font-size: 18px, $line-height: 24px),
  $body-2: mat.define-typography-level($font-size: 16px),
  $body-1: mat.define-typography-level($font-size: 16px),
  $button: mat.define-typography-level($font-size: 16px),
);