.container-form {
  max-width: 100%;
  margin: 2rem auto;
  padding: 1.5rem;
  background: #fafafa;
  border-radius: 0.75rem;

  h1 {
    font-size: 1.8rem;
    font-weight: 600;
    color: #365446;
    margin-bottom: 1.5rem;
    text-align: center;

    mat-chip {
      margin-left: 1rem;
      background-color: #eaf4ee;
      color: #365446;
      font-weight: 500;
    }
  }

  mat-card {
    padding: 1.5rem;
    border-radius: 12px;
    background-color: #ddaf16; // verde muy suave
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    margin-bottom: 1.5rem;

    section {
      display: flex;
      gap: 1.5rem;
      flex-wrap: wrap;
      margin-bottom: 1rem;
    }

    mat-form-field {
      flex: 1;
      min-width: 220px;

      mat-label {
        color: #388e3c;
        font-weight: 500;
      }

      input, mat-select {
        font-size: 0.95rem;
      }

      mat-error {
        font-size: 0.8rem;
        color: #d32f2f;
      }
    }

    button {
      margin-top: 1rem;
    }
  }

  mat-form-field {
    flex: 1;
    min-width: 300px;
  }

  // === Tabla CNAE ===
  table, mat-table {
    width: 100%;
    margin-top: 2rem;
    border-radius: 0.75rem;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);

      mat-header-row {
      background-color: #365446;
    }

    mat-header-cell {
      color: #ffffff;
      font-weight: 600;
      font-size: .6rem;
    }

    mat-cell {
      font-size: .6rem;
      color: #424242;
      padding: 0.75rem;
    }

    mat-row:nth-child(even) {
      background-color: #e3f2fd; // alterna azul suave
    }

    mat-row:hover {
      background-color: #bbdefb; // azul hover
      transition: background-color 0.3s ease;
    }
  .btn-edit {
      display: grid;
      grid-template-columns: 50% 50%;

      .save-button {
        color: #1976d2;
      }

      .delete-button {
        color: #d32f2f;
      }

      button:hover {
        transform: scale(1.2);
        transition: transform 0.2s ease;
      }
    }

    .small-data {
      font-size: 0.7rem;
      color: #000;
    }

  .small-data-input {
    font-size: 0.7rem;
    padding: 0.25rem;
    border: 1px solid #365446;
    border-radius: 0.25rem;
    width: 90%;

    &:focus {
        border-color: #42a5f5;
        box-shadow: 0 0 4px rgba(66, 165, 245, 0.5);
      }
    }
  }
}

mat-paginator {
  margin-top: 1rem;
  border-radius: 0.5rem;
  background: #ffffff;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05);
}