    <div class="container-form" >
      <h1>{{'cnaes' | translate}} <mat-chip>RATIO: {{currentActivityIndicator}}</mat-chip></h1>
      <form
        *ngIf="cnaeForm"
        [formGroup]="cnaeForm"
        (ngSubmit)="addRow()">

        <mat-card [class.mat-elevation-z8]="">
          <section>
            <mat-form-field [style.width.px]=327>
              <mat-label>{{'delegation' | translate}}</mat-label>
              <mat-select [formControl]="delegation">
                <mat-option *ngFor="let delegation of delegations" [value]="delegation.companyDelegationId">
                  {{delegation.name}}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="delegation.hasError('required')">{{'delegation' | translate}} <strong>{{'isRequired' | translate}}</strong></mat-error>
            </mat-form-field>
          </section>

          <section>
            <mat-form-field [style.width.px]=327>
              <mat-label>{{'year' | translate}}</mat-label>
              <mat-select [formControl]="yearCnae">
                <mat-option value="2019">2019</mat-option>
                <mat-option value="2020">2020</mat-option>
                <mat-option value="2021">2021</mat-option>
                <mat-option value="2022">2022</mat-option>
                <mat-option value="2023">2023</mat-option>
                <mat-option value="2024">2024</mat-option>
                <mat-option value="2025">2025</mat-option>
              </mat-select>
            </mat-form-field>
          </section>

  <!--         <section>
            <mat-form-field [style.width.px]=327>
              <mat-label>{{'monthlyPersons' | translate}}</mat-label>
              <input matInput type="number" [formControl]="quantity" />
              <mat-error *ngIf="quantity.hasError('required')">{{'monthlyPersons' | translate}} <strong>{{'isRequired' | translate}}</strong></mat-error>
            </mat-form-field>
          </section> -->

          <button mat-raised-button color="primary" type="submit" [disabled]="!cnaeForm.valid">ADD</button>

        </mat-card>
      </form>
      <div style="margin-left: auto; margin-right: auto">
        <span id="postFeedback"></span>
      </div>
<!--       <p>Form Value: {{ cnaeForm.value | json }}</p>
      <p>Form Status: {{ cnaeForm.status }}</p> -->
    </div>

    <h2>{{'cnaesDataList' | translate}}</h2>
    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Search columns" #input>
    </mat-form-field>

   <!--  <table *ngIf="!isGridView" mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort #personTbSort="matSort">
      <ng-container matColumnDef="delegation">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'delegation' | translate}}</th>
        <td mat-cell *matCellDef="let person">{{person.delegation}}</td>
      </ng-container>
      <ng-container matColumnDef="year">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>{{'year' | translate}}</th>
        <td mat-cell *matCellDef="let person">{{person.year}}</td>
      </ng-container>
      <ng-container matColumnDef="enero">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Enero</th>
        <td mat-cell *matCellDef="let person" title="{{person.jan | formatQuantity: 5}}">{{person.jan}}</td>
      </ng-container>
      <ng-container matColumnDef="febrero">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Febrero</th>
        <td mat-cell *matCellDef="let person" title="{{person.feb | formatQuantity: 5}}">{{person.feb}}</td>
      </ng-container>
      <ng-container matColumnDef="marzo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Marzo</th>
        <td mat-cell *matCellDef="let person" title="{{person.mar | formatQuantity: 5}}">{{person.mar}}</td>
      </ng-container>
      <ng-container matColumnDef="abril">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Abril</th>
        <td mat-cell *matCellDef="let person" title="{{person.apr | formatQuantity: 5}}">{{person.apr}}</td>
      </ng-container>
      <ng-container matColumnDef="mayo">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Mayo</th>
        <td mat-cell *matCellDef="let person" title="{{person.may | formatQuantity: 5}}">{{person.may}}</td>
      </ng-container>
      <ng-container matColumnDef="junio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Junio</th>
        <td mat-cell *matCellDef="let person" title="{{person.jun | formatQuantity: 5}}">{{person.jun}}</td>
      </ng-container>
      <ng-container matColumnDef="julio">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Julio</th>
        <td mat-cell *matCellDef="let person" title="{{person.jul | formatQuantity: 5}}">{{person.jul}}</td>
      </ng-container>
      <ng-container matColumnDef="agosto">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Agosto</th>
        <td mat-cell *matCellDef="let person" title="{{person.aug | formatQuantity: 5}}">{{person.aug}}</td>
      </ng-container>
      <ng-container matColumnDef="setiembre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Setiembre</th>
        <td mat-cell *matCellDef="let person" title="{{person.sep | formatQuantity: 5}}">{{person.sep}}</td>
      </ng-container>
      <ng-container matColumnDef="octubre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Octubre</th>
        <td mat-cell *matCellDef="let person" title="{{person.oct | formatQuantity: 5}}">{{person.oct}}</td>
      </ng-container>
      <ng-container matColumnDef="noviembre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Noviembre</th>
        <td mat-cell *matCellDef="let person" title="{{person.nov | formatQuantity: 5}}">{{person.nov}}</td>
      </ng-container>
      <ng-container matColumnDef="diciembre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Diciembre</th>
        <td mat-cell *matCellDef="let person" title="{{person.dec | formatQuantity: 5}}">{{person.dec}}</td>
      </ng-container>

      <ng-container matColumnDef="ACTIONS">
        <th mat-header-cell *matHeaderCellDef> ACTIONS</th>
        <td mat-cell *matCellDef="let person">
          <button mat-icon-button color="accent" matTooltip="Update this person"
          aria-label="Button that displays a tooltip and updates this person" (click)="updatePerson(person.person.Id)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" matTooltip="Permanently delete this peerson"
          aria-label="Button that displays a tooltip and permanently deletes this person" (click)="deletePerson(person.Id)">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsDisplayed"></tr>
      <tr mat-row *matRowDef="let item; columns: columnsDisplayed;" class="animate__animated animate__fadeInLeft"></tr>
    </table> -->

    <article class="table-header">
      <!-- <button class="button-add-row" mat-button color="primary" (click)="addRow()">Add objective</button> -->
      <div></div>
      <button class="button-remove-rows" mat-button (click)="removeSelectedRows()">Remove selected Rows</button>
    </article>
    
    <article *ngIf="dataSource">
      <table mat-table [dataSource]="dataSource">
        <ng-container [matColumnDef]="col.key" *ngFor="let col of columnsSchema">
          <th mat-header-cell *matHeaderCellDef [ngSwitch]="col.key">
              <span *ngSwitchCase="'isSelected'">
                 <!--  <mat-checkbox
                      (change)="selectAll($event)"
                      [checked]="isAllSelected()"
                      [indeterminate]="!isAllSelected() && isAnySelected()">
                  </mat-checkbox> -->
              </span>
              <span *ngSwitchDefault>{{ col.label }}</span>
          </th>
          <td mat-cell *matCellDef="let element">
              <div [ngSwitch]="col.type" *ngIf="!element.isEdit">
                  <ng-container *ngSwitchCase="'isSelected'">
                    <mat-checkbox
                      (change)="element.isSelected = $event.checked"
                      [checked]="element.isSelected">
                    </mat-checkbox>
                  </ng-container>
                <div class="btn-edit" *ngSwitchCase="'isEdit'">
                  <button mat-button (click)="element.isEdit = !element.isEdit">Edit</button>
                  <button mat-button class="button-remove" (click)="removeRow(element.Id)">Delete</button>
                </div>

                <span *ngSwitchDefault ngClass="small-data">
                  {{ element[col.key] }}
                </span>
              </div>
              <div [ngSwitch]="col.type" *ngIf="element.isEdit">
                <div class="btn-edit" *ngSwitchCase="'isEdit'">
                  <button mat-button (click)="editRow(element)" [disabled]="valid[element.Id] === false">Done</button>
                </div>
                <mat-form-field *ngSwitchCase="'label'" [style.width.px]='60'>
                  <input [type]="col.type" readonly matInput [(ngModel)]="element[col.key]" ngClass="small-data small-data-readonly"/>
                </mat-form-field>
                <mat-form-field *ngSwitchDefault appearance="outline" [style.width.px]='60'>
                  <input [type]="col.type" matInput [(ngModel)]="element[col.key]" ngClass="small-data small-data-input"/>
                </mat-form-field>
              </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="columnsDisplayed"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsDisplayed;"></tr>
      </table>
    </article>
