.button-add-row {
  background: #1b9e1b;
  color: #ffffff;
}

.button-add-row {
  background: #1b9e1b;
  color: #ffffff;
}

.button-remove-rows {
  background: red;
  color: #ffffff;
  margin-right: 5px;
}

.button-remove {
  color: red;
}

.btn-edit{
  display: grid;
  grid-template-columns: 50% 50%;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  appearance: textfield;
  border: none transparent;
outline: none;
}

.small-data {
  font-size: .6rem;
}

.small-data-input {
  font-size: .6rem;
  background-color: aquamarine;
  border: 1px solid black;
}

mat-table {
  margin-top: .5rem;
  margin-bottom: 2rem;
  width: 100%;
}

.mat-column-isSelected{
  max-width: 4rem;
}

.mat-column-year{
  max-width: 2.7rem;
}
.mat-column-delegation{
  max-width: 7rem;
}
.mat-column-cnaeUnitSelected{
  max-width: 4.5rem;
}
.mat-column-jan{
  max-width: 4.5rem;
}
.mat-column-feb{
  max-width: 4.5rem;
}
.mat-column-mar{
  max-width: 4.5rem;
}
.mat-column-apr{
  max-width: 4.5rem;
}
.mat-column-may{
  max-width: 4.5rem;
}
.mat-column-jun{
  max-width: 4.5rem;
}
.mat-column-jul{
  max-width: 4.5rem;
}
.mat-column-aug{
  max-width: 4.5rem;
}
.mat-column-sep{
  max-width: 4.5rem;
}
.mat-column-oct{
  max-width: 4.5rem;
}
.mat-column-nov{
  max-width: 4.5rem;
}
.mat-column-dec{
  max-width: 4.5rem;
}
.mat-column-isEdit{
  width: 10rem;
  }
mat-header-row{
  background-color: #424242;
}

mat-header-cell {
  color: white;
  font-size: .5rem;
}

mat-cell{
  background-color: #919191;
}



