<section ngClass="container-form">
<h3>{{ 'delegationList' | translate }}:</h3>
  <table mat-table *ngIf="!isGridView" [dataSource]="delegations" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>{{'name' | translate}}</mat-header-cell>
        <mat-cell *matCellDef="let delegation">{{delegation.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="address">
      <mat-header-cell *matHeaderCellDef>{{'ubication' | translate}}</mat-header-cell>
      <mat-cell *matCellDef="let delegation">{{delegation.address}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="ACTIONS">
      <mat-header-cell *matHeaderCellDef="let delegation"> <!-- {{'actions' | translate}}  -->
        <!-- <button color="accent" matTooltip="Add a delegation for this company" aria-label="Add delegation" (click)="createDelegation()"> -->
              <mat-icon matTooltip="Add a production center for this organization" color="accent" (click)="createDelegation()">add_circle</mat-icon>
        <!-- </button> --></mat-header-cell>
      <mat-cell *matCellDef="let delegation">
        <button mat-icon-button color="warn" matTooltip="Permanently delete this production center" disabled
        aria-label="Permanently deletes this production center" (click)="deleteDelegation(delegation.companyDelegationId)">
        <i class="fa-solid fa-trash fa-xs"></i>
        </button>
      </mat-cell>
    </ng-container>
      <mat-header-row *matHeaderRowDef="columnsDisplayed"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columnsDisplayed;"></mat-row>

  </table>

  <section class="warn" *ngIf="!delegations">
    <article>{{"noDelegation" | translate}}</article>
    <article>{{"noDelegation1" | translate}}</article>
    <article>{{"noDelegation2" | translate}}</article>
  </section>
</section>