<h3>{{ 'delegationList' | translate }}:</h3>

  <table *ngIf="!isGridView" mat-table [dataSource]="delegations" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>{{'name' | translate}}</th>
        <td mat-cell *matCellDef="let delegation">{{delegation.name}}</td>
    </ng-container>
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>{{'ubication' | translate}}</th>
      <td mat-cell *matCellDef="let delegation">{{delegation.address}}</td>
    </ng-container>

    <ng-container matColumnDef="ACTIONS">
      <th mat-header-cell *matHeaderCellDef="let delegation"> <!-- {{'actions' | translate}}  -->
        <!-- <button color="accent" matTooltip="Add a delegation for this company" aria-label="Add delegation" (click)="createDelegation()"> -->
              <mat-icon matTooltip="Add a production center for this organization" color="accent" (click)="createDelegation()">add_circle</mat-icon>
        <!-- </button> --></th>
      <td mat-cell *matCellDef="let delegation">
        <button mat-icon-button color="warn" matTooltip="Permanently delete this production center" disabled
        aria-label="Permanently deletes this production center" (click)="deleteDelegation(delegation.companyDelegationId)">
        <i class="fa-solid fa-trash fa-xs"></i>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsDisplayed"></tr>
    <tr mat-row *matRowDef="let item; columns: columnsDisplayed;" class="animate__animated animate__fadeInLeft"></tr>
  </table>

  <section class="warn" *ngIf="!delegations">
    <article>{{"noDelegation" | translate}}</article>
    <article>{{"noDelegation1" | translate}}</article>
    <article>{{"noDelegation2" | translate}}</article>
  </section>
