@use "../../../../styles/themes/ils-theme" as theme;

table{
  min-width: 530px;
}

.warn{
  color: theme.$alternate-color;
  background-color: theme.$primary-color;
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding: 1rem;
}