<h3>{{ 'delegationList' | translate }}:</h3>

<table *ngIf="!isGridView" mat-table [dataSource]="delegations" class="mat-elevation-z8">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>{{'name' | translate}}</th>
        <td mat-cell *matCellDef="let delegation">{{delegation.name}}</td>
    </ng-container>
    <ng-container matColumnDef="address">
      <th mat-header-cell *matHeaderCellDef>{{'ubication' | translate}}</th>
      <td mat-cell *matCellDef="let delegation">{{delegation.address}}</td>
    </ng-container>

    <ng-container matColumnDef="ACTIONS">
      <th mat-header-cell *matHeaderCellDef="let delegation"> ACTIONS 
        <button color="accent" mat-mini-fab matTooltip="Add a delegation for this company" aria-label="Add delegation" (click)="createDelegation()">
              <i class="fa-solid fa-plus fa-xs"></i>
        </button></th>
      <td mat-cell *matCellDef="let delegation">
        <button mat-icon-button color="warn" matTooltip="Permanently delete this delegation"
        aria-label="Permanently deletes this delegation" (click)="deleteDelegation(delegation.companyDelegationId)">
        <i class="fa-solid fa-trash fa-xs"></i>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsDisplayed"></tr>
    <tr mat-row *matRowDef="let item; columns: columnsDisplayed;" class="animate__animated animate__fadeInLeft"></tr>
  </table>

  <div class="warn" *ngIf="!delegations">{{"noDelegation" | translate}}</div>
