<div class="container-form">
<h2>{{'answeredQuestionnairesList' | translate}}</h2>

<div class='card-container' *ngIf="userQuestionnaires">
  <mat-card *ngFor="let questionnaire of userQuestionnaires; index as j" [ngClass]="{'completed' : questionaireFinalState[j].questionnaireCompleted}">
    <!-- <a *ngIf="questionaireFinalState[j].questionnaireCompleted" [routerLink]="['/questionnaire-detail', questionnaire.id]" routerLinkActive="active" ariaCurrentWhenActive="page"> -->
    <mat-card-header>
      <mat-card-title>
        {{questionnaire.companyDelegationName}}
      </mat-card-title>
      <mat-card-subtitle>
        <div>Ref. <strong>{{questionnaire.companyQuestionnaireId}}</strong></div>
        <span >{{"dateAnswered" | translate}}: {{questionnaire.updated_at| date :'short'}}</span>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content *ngFor="let completedItem of questionnaire.completed">
        <div><strong>{{completedItem.vectorName}}</strong></div>
        <div><span>{{"totalQuestions" | translate}}: </span><strong>{{completedItem.totalQuestions}}</strong></div>
        <div>
          <span>{{"totalAnswers" | translate}}: </span><strong>{{completedItem.totalAnswers | number: '1.2-2'}} %</strong>
          <mat-progress-bar mode="determinate" value="{{completedItem.totalAnswers}}"></mat-progress-bar>
        </div>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions class="button-row">
      <button *ngIf="!questionaireFinalState[j].questionnaireCompleted" class="state not-completed" matTooltip='{{"continueQuestionnaire" | translate}}'>
        <a [routerLink]="['/global-questionnaire-continue', questionnaire.id]"  routerLinkActive="active" ariaCurrentWhenActive="page">CONTINUAR</a>
      </button>
      <button *ngIf="questionaireFinalState[j].questionnaireCompleted" mat-button color="primary" matTooltip='{{"viewResult" | translate}}'><a [routerLink]="['/questionnaire-detail', questionnaire.id]" routerLinkActive="active" ariaCurrentWhenActive="page"><i class="fa-solid fa-clipboard-list fa-2xl"></i></a></button>
      <button mat-button color="primary" matTooltip='{{"deleteQuiestionnaire" | translate}}' (click)="openDialog('300ms', '300ms', 'Acción de eliminar definitivamente', '¿Desea eleminiarlo?', questionnaire.id.toString(), '', true)"><i class="fa-solid fa-trash fa-2xl"></i></button>
    </mat-card-actions>
  <!-- </a> -->
  </mat-card>
</div>

<span *ngIf="!userQuestionnaires" class="loader">{{'searchingQuestionnairies' | translate}}
<mat-progress-bar mode="indeterminate" color="primary" *ngIf="!userQuestionnaires"></mat-progress-bar></span>
</div>
