.card-container{
  display: grid;
  grid-template-columns: auto auto;
  gap: 2rem;
}
.button-row {
  display: table-cell;
  max-width: 600px;
}

.loader {
  width: 100%;
  text-align: center;
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 4rem;
}

@media (max-width: 950px) {
  .card-container{
   
    grid-template-columns: 100%;
    gap: 1rem;
  }
}