<div class="container-form">
<h2>Answered questionnaires list:</h2>

<div class='card-container' *ngIf="userQuestionaires">
  <mat-card *ngFor="let questionnaire of userQuestionaires">
    <mat-card-header>
      <mat-card-title>
        <span>Questionnaire num. </span><strong>{{questionnaire.companyQuestionnaireId}}</strong>
      </mat-card-title>
      <mat-card-subtitle>
        <span>Fecha contestado: {{questionnaire.updated_at | date :'short'}}</span>
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content *ngFor="let item of questionnaireTemp">
      <div><strong>{{item.vectorName}}</strong></div>
      <!-- <div><span>General regulation:</span> <strong>{{item.vectorGeneralRegulation}}</strong></div> -->
      <div><span>Total questions:</span> <strong>{{item.totalQuestions}}</strong></div>
      <div><span>Total answered:</span> <strong>{{item.totalAnswered | number: '1.2-2'}} %</strong></div>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions class="button-row">
      <button mat-button color="primary"><a [routerLink]="['/questionnaire-detail', questionnaire.id]" routerLinkActive="active" ariaCurrentWhenActive="page">VIEW</a></button>
      <button mat-button color="warn">DELETE</button>
    </mat-card-actions>
  </mat-card>
</div>
</div>

<span *ngIf="!userQuestionaires" class="loader">No data found yet...</span>