/* You can add global styles to this file, and also import other style files */
@use './base';
@use '@angular/material' as mat;

@include mat.core;


html, body { height: 95%; }
body { margin: 0 auto; font-family: Roboto, "Helvetica Neue", sans-serif; }

.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

.container-chart {
    justify-content: center;
    align-items: center;
  }

.grid-view {
  display:grid;
  grid-template-columns: 50% 50%;
  gap: 2rem;
}
.mat-toolbar.mat-primary {
  background: #365446;
  color: #fff;
}
.small-data {
  font-size: .7rem!important;
}
