/* You can add global styles to this file, and also import other style files */
@use './base';
@use '@angular/material' as mat;

@include mat.core;
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;700&display=swap');

html, body { 
  height: 100vh; 
  margin: 0 auto;  
  max-width: 99vw; 
  font-family: Raleway, "Times New Roman", Times, serif; 
  font-size: 16px;}

.container-form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

.container-chart {
    justify-content: center;
    align-items: center;
  }

.grid-view {
  display:grid;
  grid-template-columns: 50% 50%;
  gap: 2rem;
}
.mat-toolbar.mat-primary {
  background: #365446;
  color: #fff;
}

a, a:visited, a:active {
  color: inherit;
}

a:hover {
  color:#365446;
}
