<section ngClass="container-form">
  <h2>{{ 'sustainabilityIndicatorsCharts' | translate }}: {{ 'energies' | translate }}</h2>
  <mat-chip-option color="warn" selected><strong>Nota:</strong> Versión actualmente en desarrollo. No válida para producción</mat-chip-option>
  <section ngClass='filtro-graficas'>
  <form [formGroup]="energyGraphForm" (ngSubmit)="loadgraphDataEnergy()" class="energy-form"> 
  <div ngClass="fields-container">
    <!-- Delegation -->
    <!-- <mat-form-field class="form-field">
      <mat-label>{{'delegation' | translate}}</mat-label>
      <mat-select formControlName = "delegation" (selectionChange)="loadgraphDataEnergy()">
        <mat-option *ngFor="let delegation of delegations" [value]="delegation.name">
          {{delegation.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="energyGraphForm.get('delegation').hasError('required')">
        {{'delegation' | translate}} <strong>{{'isRequired' | translate}}</strong>
      </mat-error>
    </mat-form-field> -->

    <!-- Energy -->
    <!-- <mat-form-field class="form-field">
      <mat-label>{{'energies' | translate}}</mat-label>
      <mat-select formControlName = "energy" (selectionChange)="loadgraphDataEnergy()">
        <mat-option *ngFor="let energy of energies" [value]="energy.nameES" class="small-data">
          {{energy.nameES}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="energyGraphForm.get('energy').hasError('required')">
        {{'energyType' | translate}} <strong>{{'isRequired' | translate}}</strong>
      </mat-error>
    </mat-form-field> -->

        <!-- Time View Toggles -->
    <div ngClass="toggle-group">
      <mat-slide-toggle formControlName = "yearWiewGraphE" (change)="yearlyGraphView()">{{'year' | translate}}</mat-slide-toggle>
      <mat-slide-toggle formControlName = "quarterlyViewGraphE" (change)="quarterlyGraphView()">{{'quarter' | translate}}</mat-slide-toggle>
      <mat-slide-toggle formControlName = "monthlyViewGraphE" (change)="monthlyGraphView()">{{'month' | translate}}</mat-slide-toggle>
    </div>
    
    
    <!-- Ratio Toggles -->
    <div ngClass="toggle-group">
      <mat-slide-toggle formControlName = "ratioBillingGraphE" (change)="loadgraphDataEnergy()">
        {{'ratioBillingMode' | translate}}
      </mat-slide-toggle>
      <mat-slide-toggle formControlName = "ratioCNAEgGraphE" (change)="chartRatioCNAE()">
        {{'ratioCNAEMode' | translate}}
      </mat-slide-toggle>
    </div>

    <!-- Energy Unit Toggles -->
<!--     <div class="toggle-group">
      <mat-slide-toggle formControlName = "kWView" (change)="chartkWViewE()">kWh</mat-slide-toggle>
      <mat-slide-toggle formControlName = "MWView" (change)="chartMWViewE()">MWh</mat-slide-toggle>
    </div> -->

    <!-- Buttons -->
   <!--  <div class="button-group">
      <button mat-raised-button color="primary" type="button" (click)="graphFormReset()">Reset</button>
      <button mat-raised-button color="accent" type="submit" [disabled]="!energyGraphForm.valid">Graph</button>
    </div> -->

  </div>
    </form>
  </section>
  <mat-progress-bar mode="indeterminate" color="primary" *ngIf="!consumptions"></mat-progress-bar>
  <canvas id="energyGraph" aria-label= "Energy graph" role="chart" (Click)="onChartClick($event)">{{ chart }}</canvas>
  
</section>

<!--   <div ngClass='filtro-graficas'>
    <form
      *ngIf="waterGraphForm"
      [formGroup]="waterGraphForm"
      (ngSubmit)="loadgraphDataEnergy()">
      <div ngClass='fields-container'>

        <mat-form-field [style.width.px]=220 ngClass="item1">
          <mat-label>{{'delegation' | translate}}</mat-label>
          <mat-select [formControl]="delegation" panelClass="panel-{{delegation.value}}" (selectionChange)="loadgraphDataEnergy()">
            <mat-option *ngFor="let delegation of delegations" [value]="delegation.name">
              {{delegation.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="delegation.hasError('required')">{{'delegation' | translate}} <strong>{{'isRequired' | translate}}</strong></mat-error>
        </mat-form-field>

        <mat-form-field [style.width.px]=220 *ngIf="isEnergy" ngClass="item3">
          <mat-label>{{'energies' | translate}}</mat-label>
            <mat-select [formControl]="energy" (selectionChange)="loadgraphDataEnergy()">
              <mat-option *ngFor="let energy of energies" [value]="energy.nameES" ngClass="small-data">
                {{energy.nameES}}
              </mat-option>
            </mat-select>
          <mat-error *ngIf="energy.hasError('required')">{{'energyType' | translate}} <strong>{{'isRequired' | translate}}</strong></mat-error>
        </mat-form-field>

        <mat-form-field [style.width.px]=425 *ngIf="isResidue" ngClass="item4">
          <mat-label>{{'residueType' | translate}}</mat-label>
          <mat-select [formControl]="residue" (selectionChange)="loadgraphDataEnergy()">
            <mat-option>
              <ngx-mat-select-search
              [formControl]="residueFilter"
              placeholderLabel="{{'searchResidue' | translate}}"
              noEntriesFoundLabel = "no matching residue found!"
              [clearSearchInput] = false
              [searching] = "isSearching"
              >
              <mat-icon ngxMatSelectSearchClear><i ngClass="fa-solid fa-delete-left"></i></mat-icon>
            </ngx-mat-select-search>
            </mat-option>
                <mat-option *ngFor="let items of residuesItemCompany" [value]="items.chapterItemId" ngClass="small-data">
                  {{items.chapterItemId}} - <strong>{{items.chapterItemName}}</strong>
                </mat-option>
          </mat-select>
          <mat-error *ngIf="residue.hasError('required')">{{'residueType' | translate}} <strong>{{'isRequired' | translate}}</strong></mat-error>
        </mat-form-field>

        <mat-button-toggle-group name="buttonsform" aria-label="buttons form reset and submit" ngClass="item5">
          <button mat-raised-button color="accent" (click)="graphFormReset()">Reset</button>
          <button mat-raised-button color="primary" type="submit" [disabled]="!waterGraphForm.valid">Graph</button>
        </mat-button-toggle-group>
        <mat-slide-toggle [(ngModel)]="isRatioBillingE" [formControl]="ratioBillingGraphE" ngClass="item6" (change)="loadgraphDataEnergy()">Ratio billing graph</mat-slide-toggle>
        <mat-slide-toggle [(ngModel)]="isRatioCNAEE" [formControl]="ratioCNAEgGraphE" ngClass="item7" (change)="chartRatioCNAE()">Ratio CNAE graph</mat-slide-toggle>
        <mat-slide-toggle [(ngModel)]="isMonthViewE" [formControl]="monthlyViewGraphE" ngClass="item7" (change)="chartRatioCNAE()">L</mat-slide-toggle>
        <mat-slide-toggle [(ngModel)]="isMonthViewE" [formControl]="monthlyViewGraphE" ngClass="item7" (change)="chartRatioCNAE()">m3</mat-slide-toggle>


      </div>
    </form>
  </div>
  <canvas id="waterGraph" aria-label= "Water graph" role="chart"
  (Click)="onChartClick($event)">{{ chart }}</canvas>

  <div ngClass='filtro-graficas'>
    <form *ngIf="residueGraphForm"
      [formGroup]="residueGraphForm"
      (ngSubmit)="loadgraphDataEnergy()">
      <div ngClass='fields-container'>

        <mat-form-field [style.width.px]=220 ngClass="item1">
          <mat-label>{{'delegation' | translate}}</mat-label>
          <mat-select [formControl]="delegation" panelClass="panel-{{delegation.value}}" (selectionChange)="loadgraphDataEnergy()">
            <mat-option *ngFor="let delegation of delegations" [value]="delegation.name">
              {{delegation.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="delegation.hasError('required')">{{'delegation' | translate}} <strong>{{'isRequired' | translate}}</strong></mat-error>
        </mat-form-field>

        <mat-form-field [style.width.px]=220 *ngIf="isEnergy" ngClass="item3">
          <mat-label>{{'energies' | translate}}</mat-label>
            <mat-select [formControl]="energy" (selectionChange)="loadgraphDataEnergy()">
              <mat-option *ngFor="let energy of energies" [value]="energy.nameES" ngClass="small-data">
                {{energy.nameES}}
              </mat-option>
            </mat-select>
          <mat-error *ngIf="energy.hasError('required')">{{'energyType' | translate}} <strong>{{'isRequired' | translate}}</strong></mat-error>
        </mat-form-field>

        <mat-form-field [style.width.px]=425 *ngIf="isResidue" ngClass="item4">
          <mat-label>{{'residueType' | translate}}</mat-label>
          <mat-select [formControl]="residue" (selectionChange)="loadgraphDataEnergy()">
            <mat-option>
              <ngx-mat-select-search
              [formControl]="residueFilter"
              placeholderLabel="{{'searchResidue' | translate}}"
              noEntriesFoundLabel = "no matching residue found!"
              [clearSearchInput] = false
              [searching] = "isSearching"
              >
              <mat-icon ngxMatSelectSearchClear><i ngClass="fa-solid fa-delete-left"></i></mat-icon>
            </ngx-mat-select-search>
            </mat-option>
                <mat-option *ngFor="let items of residuesItemCompany" [value]="items.chapterItemId" ngClass="small-data">
                  {{items.chapterItemId}} - <strong>{{items.chapterItemName}}</strong>
                </mat-option>
          </mat-select>
          <mat-error *ngIf="residue.hasError('required')">{{'residueType' | translate}} <strong>{{'isRequired' | translate}}</strong></mat-error>
        </mat-form-field>

        <mat-button-toggle-group name="buttonsform" aria-label="buttons form reset and submit" ngClass="item5">
          <button mat-raised-button color="accent" (click)="graphFormReset()">Reset</button>
          <button mat-raised-button color="primary" type="submit" [disabled]="!residueGraphForm.valid">Graph</button>
        </mat-button-toggle-group>
        <mat-slide-toggle [(ngModel)]="isRatioBillingE" [formControl]="ratioBillingGraphE" ngClass="item6" (change)="loadgraphDataEnergy()">Ratio billing graph</mat-slide-toggle>
        <mat-slide-toggle [(ngModel)]="isRatioCNAEE" [formControl]="ratioCNAEgGraphE" ngClass="item7" (change)="chartRatioCNAE()">Ratio CNAE graph</mat-slide-toggle>
        <mat-slide-toggle [(ngModel)]="isMonthViewE" [formControl]="monthlyViewGraphE" ngClass="item7" (change)="chartRatioCNAE()">kg</mat-slide-toggle>
        <mat-slide-toggle [(ngModel)]="isMonthViewE" [formControl]="monthlyViewGraphE" ngClass="item7" (change)="chartRatioCNAE()">T</mat-slide-toggle>
      </div>
    </form>
  </div>
  <canvas id="residueGraph" aria-label= "Residue graph" role="chart"
  (Click)="onChartClick($event)">{{ chart }}</canvas>

  <div ngClass='filtro-graficas'>
    <form
      *ngIf="emissionGraphForm"
      [formGroup]="emissionGraphForm"
      (ngSubmit)="loadgraphDataEnergy()">
      <div ngClass='fields-container'>

        <mat-form-field [style.width.px]=220 ngClass="item1">
          <mat-label>{{'delegation' | translate}}</mat-label>
          <mat-select [formControl]="delegation" panelClass="panel-{{delegation.value}}" (selectionChange)="loadgraphDataEnergy()">
            <mat-option *ngFor="let delegation of delegations" [value]="delegation.name">
              {{delegation.name}}
            </mat-option>
          </mat-select>
          <mat-error *ngIf="delegation.hasError('required')">{{'delegation' | translate}} <strong>{{'isRequired' | translate}}</strong></mat-error>
        </mat-form-field>

        <mat-form-field [style.width.px]=220 *ngIf="isEnergy" ngClass="item3">
          <mat-label>{{'energies' | translate}}</mat-label>
            <mat-select [formControl]="energy" (selectionChange)="loadgraphDataEnergy()">
              <mat-option *ngFor="let energy of energies" [value]="energy.nameES" ngClass="small-data">
                {{energy.nameES}}
              </mat-option>
            </mat-select>
          <mat-error *ngIf="energy.hasError('required')">{{'energyType' | translate}} <strong>{{'isRequired' | translate}}</strong></mat-error>
        </mat-form-field>

        <mat-form-field [style.width.px]=425 *ngIf="isResidue" ngClass="item4">
          <mat-label>{{'residueType' | translate}}</mat-label>
          <mat-select [formControl]="residue" (selectionChange)="loadgraphDataEnergy()">
            <mat-option>
              <ngx-mat-select-search
              [formControl]="residueFilter"
              placeholderLabel="{{'searchResidue' | translate}}"
              noEntriesFoundLabel = "no matching residue found!"
              [clearSearchInput] = false
              [searching] = "isSearching"
              >
              <mat-icon ngxMatSelectSearchClear><i ngClass="fa-solid fa-delete-left"></i></mat-icon>
            </ngx-mat-select-search>
            </mat-option>
                <mat-option *ngFor="let items of residuesItemCompany" [value]="items.chapterItemId" ngClass="small-data">
                  {{items.chapterItemId}} - <strong>{{items.chapterItemName}}</strong>
                </mat-option>
          </mat-select>
          <mat-error *ngIf="residue.hasError('required')">{{'residueType' | translate}} <strong>{{'isRequired' | translate}}</strong></mat-error>
        </mat-form-field>

        <mat-button-toggle-group name="buttonsform" aria-label="buttons form reset and submit" ngClass="item5">
          <button mat-raised-button color="accent" (click)="graphFormReset()">Reset</button>
          <button mat-raised-button color="primary" type="submit" [disabled]="!emissionGraphForm.valid">Graph</button>
        </mat-button-toggle-group>
        <mat-slide-toggle [(ngModel)]="isRatioBillingE" [formControl]="ratioBillingGraphE" ngClass="item6" (change)="loadgraphDataEnergy()">Ratio billing graph</mat-slide-toggle>
        <mat-slide-toggle [(ngModel)]="isRatioCNAEE" [formControl]="ratioCNAEgGraphE" ngClass="item7" (change)="chartRatioCNAE()">Ratio CNAE graph</mat-slide-toggle>
        <mat-slide-toggle [(ngModel)]="isMonthViewE" [formControl]="monthlyViewGraphE" ngClass="item7" (change)="chartRatioCNAE()">kg</mat-slide-toggle>
        <mat-slide-toggle [(ngModel)]="isMonthViewE" [formControl]="monthlyViewGraphE" ngClass="item7" (change)="chartRatioCNAE()">T</mat-slide-toggle>

      </div>
    </form>
  </div>
  <canvas id="emssionGraph" aria-label= "Emissions graph" role="chart"
  (Click)="onChartClick($event)">{{ chart }}</canvas>
 -->