
<div style="margin-left: auto; margin-right: auto">
    <p id="postFeedback"></p>
</div>

<div class="container-form" [@fadeInOut] >  
    <h2>Add delegation</h2>
    <form
      *ngIf="delegationForm"
      [formGroup]="delegationForm"
      (ngSubmit)="saveDelegation()">
  
      <mat-card [class.mat-elevation-z8]="isElevated">

        <section>
            <mat-form-field [style.width.px]=327>
              <mat-label>Name</mat-label>
              <input matInput type="text" [formControl]="name" />
              <mat-error *ngIf="name.hasError('required')">Name <strong>is required</strong></mat-error>
              <mat-error *ngIf="name.hasError('minlength')">Name must be greater than 3 characters</mat-error>
              <mat-error *ngIf="name.hasError('maxlength')">Name must be less than 25 characters</mat-error>
            </mat-form-field>
        </section>
  
        <section>
          <mat-form-field [style.width.px]=327>
            <mat-label>Address</mat-label>
            <input matInput type="text" [formControl]="address" />
            <mat-error *ngIf="address.hasError('required')">Address <strong>is required</strong></mat-error>
            <mat-error *ngIf="address.hasError('minlength')">Address must be greater than 8 characters</mat-error>
            <mat-error *ngIf="address.hasError('maxlength')">Address must be less than 25 characters</mat-error>
          </mat-form-field>
        </section>

        <button mat-raised-button color="primary" type="submit" [disabled]="!delegationForm.valid">ADD</button>  
      </mat-card>
    </form>
  </div>
