<section ngClass="container-form">
<h2>Activity emission CNAE list</h2>
<button mat-raised-button color="primary" (click)="openDialog()">Add New</button>

<!-- Filtro global -->
<mat-form-field appearance="outline" style="width: 300px; margin-bottom: 16px;">
  <mat-label>Search</mat-label>
  <input matInput (keyup)="applyFilter($event)" placeholder="Search all columns">
</mat-form-field>

<mat-progress-bar mode="indeterminate" color="primary" *ngIf="isLoading"></mat-progress-bar>
<mat-paginator [pageSizeOptions]="[40, 80, 100]" showFirstLastButtons></mat-paginator>
 <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" *ngIf="dataSource">
  <!-- ID -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef mat-sort-header> ID </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.id}} </mat-cell>
  </ng-container>

  <!-- Sector -->
  <ng-container matColumnDef="sector">
    <mat-header-cell *matHeaderCellDef mat-sort-header> sector </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.sector}} </mat-cell>
  </ng-container>

  <!-- Subsector -->
  <ng-container matColumnDef="subsector">
    <mat-header-cell *matHeaderCellDef mat-sort-header> subsector </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.subsector}} </mat-cell>
  </ng-container>

  <!-- CNAE Code -->
  <ng-container matColumnDef="cnaeCode">
    <mat-header-cell *matHeaderCellDef mat-sort-header> cnaeCode </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.cnaeCode}} </mat-cell>
  </ng-container>

  <!-- Activity Indicator -->
  <ng-container matColumnDef="activityIndicator">
    <mat-header-cell *matHeaderCellDef mat-sort-header> activityIndicator </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.activityIndicator}} </mat-cell>
  </ng-container>

  <!-- Emission Indicator -->
  <ng-container matColumnDef="emissionIndicator">
    <mat-header-cell *matHeaderCellDef mat-sort-header> emissionIndicator </mat-header-cell>
    <mat-cell *matCellDef="let element"> {{element.emissionIndicator}} </mat-cell>
  </ng-container>  

  <!-- Actions -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef> Actions </mat-header-cell>
    <mat-cell *matCellDef="let element" ngClass="btn-edit actions-cell">
      <button mat-icon-button (click)="editRecord(element.id)" matTooltip="Edit" color="accent">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)="deleteRecord(element.id)" matTooltip="Delete" color="warn">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</table>
</section>