.loader {
  width: 100%;
  text-align: center;
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 4rem;
}

.is-false{
  border: 1px solid black;
  background-color: red;
  color: white;
}

.is-true{
  border: 1px solid black;
  background-color: green;
  color: white;
}