<div class="container-form">
  <h1>Listado de Normas Legales/Documentos propios a partir de los Requisitos de Cliente</h1>
  <h2>Listado de Normas Legales de las que se derivan Requisitos de Cliente, para este Centro</h2>
  <div *ngIf="userQuestionnaires" >
    <mat-card class="questionnaire-card" *ngFor="let userQuestionnaire of userQuestionnaires">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title><strong>Ref.: {{userQuestionnaire.companyQuestionnaireId}}</strong></mat-card-title>
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        <ng-container *ngFor="let regulations  of userQuestionnaireTemp">
          <strong><span>Vector ID: </span>{{regulations.vectorId}}</strong>
          <ng-container *ngFor="let item  of regulations.regulations">
              <ng-container *ngFor="let questions  of item.regulation">
                <ng-container  *ngFor="let item  of questions.q1">
                  <li>{{item}} título ámbito enlace</li>
                </ng-container>
                <ng-container  *ngFor="let item  of questions.q2">
                  <li>{{item}} título ámbito enlace</li> 
                </ng-container>
                <ng-container  *ngFor="let item  of questions.q3">
                  <li>{{item}} título ámbito enlace</li>
                </ng-container>
                <ng-container  *ngFor="let item  of questions.q4">
                  <li>{{item}} título ámbito enlace</li>
                </ng-container>
                <ng-container  *ngFor="let item  of questions.q5">
                  <li>{{item}} título ámbito enlace</li>
                </ng-container>
                <ng-container  *ngFor="let item  of questions.q6">
                  <li>{{item}} título ámbito enlace</li>
                </ng-container>
                <ng-container  *ngFor="let item  of questions.q7">
                  <li>{{item}} título ámbito enlace</li>
                </ng-container>
                <ng-container  *ngFor="let item  of questions.q8">
                  <li>{{item}} título ámbito enlace</li>
                </ng-container>
                <ng-container  *ngFor="let item  of questions.q9">
                  <li>{{item}} título ámbito enlace</li>
                </ng-container>
                <ng-container  *ngFor="let item  of questions.q10">
                  <li>{{item}} título ámbito enlace</li>
                </ng-container>
                <ng-container  *ngFor="let item  of questions.q11">
                  <li>{{item}} título ámbito enlace</li>
                </ng-container>
              </ng-container>  
          </ng-container>
          <mat-divider></mat-divider>
        </ng-container>
      </mat-card-content>

      <mat-card-footer>
        {{userQuestionnaire.updated_at | date :'short'}}
      </mat-card-footer>
    </mat-card>
</div>
<span *ngIf="!userQuestionnaires" class="loader">{{'loadingQuestionnaire' | translate}}</span>

</div>