.regulation-data{
  display: grid;
  grid-template-columns: 100%;
  gap: 1rem;
  border: 1px solid rgb(8, 8, 8);
  background-color: rgb(197, 197, 197);
  color: rgb(5, 5, 5);
  margin-bottom: .5rem;
  padding: .5rem;
}
.vector-regulation{
  display: grid;
  grid-template-columns: 100%;
  gap: 1rem;
  border: 1px solid rgb(8, 8, 8);
  background-color: aquamarine;
  margin-bottom: .5rem;
  padding: .5rem;
}

h3{
  background-color: rgb(183, 242, 247);
  width: 100%;
}

.loader {
  width: 100%;
  text-align: center;
  margin: auto;
  width: 50%;
  border: 3px solid green;
  padding: 4rem;
}

.container-form{
  word-wrap: anywhere;
}